http_interactions:
- request:
    method: get
    uri: http://crandb.r-pkg.org/R6
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"67F0IC5090KNEZQPEQ192C6SW"
      x-couch-request-id: 25fee75163
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"R6","Title":"Encapsulated Classes with Reference Semantics","Version":"2.5.1","Authors@R":"person(\"Winston\",
        \"Chang\", role = c(\"aut\", \"cre\"), email = \"winston@stdout.org\")","Description":"Creates
        classes with reference semantics, similar to R''s built-in\u000areference
        classes. Compared to reference classes, R6 classes are simpler\u000aand lighter-weight,
        and they are not built on S4 classes so they do not\u000arequire the methods
        package. These classes allow public and private\u000amembers, and they support
        inheritance, even when the classes are defined in\u000adifferent packages.","Depends":{"R":">=
        3.0"},"Suggests":{"testthat":"*","pryr":"*"},"License":"MIT + file LICENSE","URL":"https://r6.r-lib.org,
        https://github.com/r-lib/R6/","BugReports":"https://github.com/r-lib/R6/issues","RoxygenNote":"7.1.1","NeedsCompilation":"no","Packaged":"2021-08-06
        20:18:46 UTC; winston","Author":"Winston Chang [aut, cre]","Maintainer":"Winston
        Chang <winston@stdout.org>","Repository":"CRAN","Date/Publication":"2021-08-19
        14:00:05 UTC","crandb_file_date":"2021-08-19 14:44:39","MD5sum":"e84fd376e246738402e5529b6d52e101","date":"2021-08-19T13:00:05+00:00","releases":[]}'
  recorded_at: 2023-02-20 09:44:16 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: http://crandb.r-pkg.org/testthat
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"83Z74H611R4C1K6GFWUH5SZL3"
      x-couch-request-id: 1f71010c37
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"testthat","Title":"Unit Testing for R","Version":"3.1.6","Authors@R":"c(\u000aperson(\"Hadley\",
        \"Wickham\", , \"hadley@rstudio.com\", role = c(\"aut\", \"cre\")),\u000aperson(\"RStudio\",
        role = c(\"cph\", \"fnd\")),\u000aperson(\"R Core team\", role = \"ctb\",\u000acomment
        = \"Implementation of utils::recover()\")\u000a)","Description":"Software
        testing is important, but, in part because it is\u000afrustrating and boring,
        many of us avoid it. ''testthat'' is a testing\u000aframework for R that is
        easy to learn and use, and integrates with\u000ayour existing ''workflow''.","License":"MIT
        + file LICENSE","URL":"https://testthat.r-lib.org, https://github.com/r-lib/testthat","BugReports":"https://github.com/r-lib/testthat/issues","Depends":{"R":">=
        3.1"},"Imports":{"brio":"*","callr":">= 3.5.1","cli":">= 3.4.0","desc":"*","digest":"*","ellipsis":">=
        0.2.0","evaluate":"*","jsonlite":"*","lifecycle":"*","magrittr":"*","methods":"*","pkgload":"*","praise":"*","processx":"*","ps":">=
        1.3.4","R6":">= 2.2.0","rlang":">= 1.0.1","utils":"*","waldo":">= 0.4.0","withr":">=
        2.4.3"},"Suggests":{"covr":"*","curl":">= 0.9.5","diffviewer":">= 0.1.0","knitr":"*","mockery":"*","rmarkdown":"*","rstudioapi":"*","shiny":"*","usethis":"*","vctrs":">=
        0.1.0","xml2":"*"},"VignetteBuilder":"knitr","Config/Needs/website":"tidyverse/tidytemplate","Config/testthat/edition":"3","Config/testthat/start-first":"watcher,
        parallel*","Encoding":"UTF-8","RoxygenNote":"7.2.1.9000","NeedsCompilation":"yes","Packaged":"2022-12-08
        22:26:26 UTC; hadleywickham","Author":"Hadley Wickham [aut, cre],\u000aRStudio
        [cph, fnd],\u000aR Core team [ctb] (Implementation of utils::recover())","Maintainer":"Hadley
        Wickham <hadley@rstudio.com>","Repository":"CRAN","Date/Publication":"2022-12-09
        23:40:02 UTC","crandb_file_date":"2022-12-10 01:14:39","MD5sum":"1c644630dd1f20dd46c9a38025236e24","date":"2022-12-09T22:40:02+00:00","releases":[]}'
  recorded_at: 2023-02-20 09:44:16 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: http://crandb.r-pkg.org/pryr
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"AFXRDN90G6AIMFU1TALCPHGN"
      x-couch-request-id: a42b580bbd
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"pryr","Title":"Tools for Computing on the Language","Version":"0.1.6","Authors@R":"c(\u000aperson(\"Hadley\",
        \"Wickham\", , \"hadley@rstudio.com\", role = c(\"aut\", \"cre\")),\u000aperson(\"R
        Core team\", role = \"ctb\",\u000acomment = \"Some code extracted from base
        R\")\u000a)","Description":"Useful tools to pry back the covers of R and understand
        the\u000alanguage at a deeper level.","License":"GPL-2","URL":"https://github.com/hadley/pryr","BugReports":"https://github.com/hadley/pryr/issues","Depends":{"R":">=
        3.1.0"},"Imports":{"codetools":"*","lobstr":"*","methods":"*","Rcpp":">= 0.11.0","stringr":"*"},"Suggests":{"testthat":">=
        0.8.0"},"LinkingTo":{"Rcpp":"*"},"Encoding":"UTF-8","RoxygenNote":"7.2.3","NeedsCompilation":"yes","Packaged":"2023-01-17
        15:08:08 UTC; hadleywickham","Author":"Hadley Wickham [aut, cre],\u000aR Core
        team [ctb] (Some code extracted from base R)","Maintainer":"Hadley Wickham
        <hadley@rstudio.com>","Repository":"CRAN","Date/Publication":"2023-01-17 17:50:02
        UTC","crandb_file_date":"2023-01-17 18:26:49","MD5sum":"a232b56ecb749c37f2b79becab60002b","date":"2023-01-17T16:50:02+00:00","releases":[]}'
  recorded_at: 2023-02-20 09:44:16 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: http://crandb.r-pkg.org/brio
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"745JN2IA19SKKXEE39KD0UF48"
      x-couch-request-id: 012a720350
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"brio","Title":"Basic R[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/callr
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"DO9KLJPXBAQU7JM75WUGF42RW"
      x-couch-request-id: 644b203962
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"callr","Title":"Call R from R","Version":"3.7.3","Authors@R":"c(\u000aperson(\"Gábor\",
        \"Csárdi\", , \"csardi.gabor@gmail.com\", role = c(\"aut\", \"cre\", \"cph\"),\u000acomment
        = c(ORCID = \"0000-0001-7098-9676\")),\u000aperson(\"Winston\", \"Chang\",
        role = \"aut\"),\u000aperson(\"RStudio\", role = c(\"cph\", \"fnd\")),\u000aperson(\"Mango
        Solutions\", role = c(\"cph\", \"fnd\"))\u000a)","Description":"It is sometimes
        useful to perform a computation in a separate\u000aR process, without affecting
        the current R process at all.  This\u000apackages does exactly that.","License":"MIT
        + file LICENSE","URL":"https://callr.r-lib.org, https://github.com/r-lib/callr#readme","BugReports":"https://github.com/r-lib/callr/issues","Depends":{"R":">=
        3.4"},"Imports":{"processx":">= 3.6.1","R6":"*","utils":"*"},"Suggests":{"asciicast":"*","cli":">=
        1.1.0","covr":"*","mockery":"*","ps":"*","rprojroot":"*","spelling":"*","testthat":">=
        3.0.0","withr":">= 2.3.0"},"Encoding":"UTF-8","Language":"en-US","RoxygenNote":"7.2.1.9000","Config/testthat/edition":"3","Config/Needs/website":"r-lib/asciicast,
        glue, htmlwidgets, igraph,\u000atibble, tidyverse/tidytemplate","NeedsCompilation":"no","Packaged":"2022-11-02
        15:17:20 UTC; gaborcsardi","Author":"Gábor Csárdi [aut, cre, cph] (<https://orcid.org/0000-0001-7098-9676>),\u000aWinston
        Chang [aut],\u000aRStudio [cph, fnd],\u000aMango Solutions [cph, fnd]","Maintainer":"Gábor
        Csárdi <csardi.gabor@gmail.com>","Repository":"CRAN","Date/Publication":"2022-11-02
        16:40:11 UTC","crandb_file_date":"2022-11-02 17:38:32","MD5sum":"12151339c31433137a1534c2f5656206","date":"2022-11-02T15:40:11+00:00","releases":[]}'
  recorded_at: 2023-02-20 09:44:16 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: http://crandb.r-pkg.org/cli
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"94CHO8YNIOIH97OJC2681JV6H"
      x-couch-request-id: 706e0eafbc
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"cli","Title":"Helpers for Developing Command Line Interfaces","Version":"3.6.0","Authors@R":"c(\u000aperson(\"Gábor\",
        \"Csárdi\", , \"csardi.gabor@gmail.com\", role = c(\"aut\", \"cre\")),\u000aperson(\"Hadley\",
        \"Wickham\", role = \"ctb\"),\u000aperson(\"Kirill\", \"Müller\", role = \"ctb\"),\u000aperson(\"RStudio\",
        role = c(\"cph\", \"fnd\"))\u000a)","Description":"A suite of tools to build
        attractive command line interfaces\u000a(''CLIs''), from semantic elements:
        headings, lists, alerts, paragraphs,\u000aetc. Supports custom themes via
        a ''CSS''-like language. It also\u000acontains a number of lower level ''CLI''
        elements: rules, boxes, trees,\u000aand ''Unicode'' symbols with ''ASCII''
        alternatives. It support ANSI\u000acolors and text styles as well.","License":"MIT
        + file LICENSE","URL":"https://cli.r-lib.org, https://github.com/r-lib/cli#readme","BugReports":"https://github.com/r-lib/cli/issues","Depends":{"R":">=
        3.4"},"Imports":{"utils":"*"},"Suggests":{"callr":"*","covr":"*","crayon":"*","digest":"*","glue":">=
        1.6.0","grDevices":"*","htmltools":"*","htmlwidgets":"*","knitr":"*","methods":"*","mockery":"*","processx":"*","ps":">=
        1.3.4.9000","rlang":">= 1.0.2.9003","rmarkdown":"*","rprojroot":"*","rstudioapi":"*","testthat":"*","tibble":"*","whoami":"*","withr":"*"},"Config/Needs/website":"r-lib/asciicast,
        bench, brio, cpp11, decor, desc,\u000afansi, prettyunits, sessioninfo, tidyverse/tidytemplate,\u000ausethis,
        vctrs","Config/testthat/edition":"3","Encoding":"UTF-8","RoxygenNote":"7.2.1.9000","NeedsCompilation":"yes","Packaged":"2023-01-09
        13:06:17 UTC; gaborcsardi","Author":"Gábor Csárdi [aut, cre],\u000aHadley
        Wickham [ctb],\u000aKirill Müller [ctb],\u000aRStudio [cph, fnd]","Maintainer":"Gábor
        Csárdi <csardi.gabor@gmail.com>","Repository":"CRAN","Date/Publication":"2023-01-09
        14:40:02 UTC","crandb_file_date":"2023-01-09 15:56:36","MD5sum":"ad8b39abb8cf564407a40f457031fb0e","date":"2023-01-09T13:40:02+00:00","releases":[]}'
  recorded_at: 2023-02-20 09:44:16 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: http://crandb.r-pkg.org/desc
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"O5NKT651Y1F8L3T7Q1L5OZBL"
      x-couch-request-id: ee681179a1
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"desc","Title":"Manipula[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/digest
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"4H8O70PXXTWA726VXPOZYFIIZ"
      x-couch-request-id: 8313f9fca2
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"digest","Author":"Dirk Eddelbuettel <edd@debian.org> with
        contributions\u000aby Antoine Lucas, Jarek Tuszynski, Henrik Bengtsson, Simon
        Urbanek,\u000aMario Frasca, Bryan Lewis, Murray Stokely, Hannes Muehleisen,\u000aDuncan
        Murdoch, Jim Hester, Wush Wu, Qiang Kou, Thierry Onkelinx,\u000aMichel Lang,
        Viliam Simko, Kurt Hornik, Radford Neal, Kendon Bell,\u000aMatthew de Queljoe,
        Ion Suruceanu, Bill Denney, Dirk Schumacher,\u000aand Winston Chang.","Version":"0.6.31","Date":"2022-12-10","Maintainer":"Dirk
        Eddelbuettel <edd@debian.org>","Title":"Create Compact Hash Digests of R Objects","Description":"Implementation
        of a function ''digest()'' for the creation of hash\u000adigests of arbitrary
        R objects (using the ''md5'', ''sha-1'', ''sha-256'', ''crc32'',\u000a''xxhash'',
        ''murmurhash'', ''spookyhash'' and ''blake3'' algorithms) permitting easy\u000acomparison
        of R language objects, as well as functions such as''hmac()'' to\u000acreate
        hash-based message authentication code. Please note that this package\u000ais
        not meant to be deployed for cryptographic purposes for which more\u000acomprehensive
        (and widely tested) libraries such as ''OpenSSL'' should be\u000aused.","URL":"https://github.com/eddelbuettel/digest,\u000ahttp://dirk.eddelbuettel.com/code/digest.html","BugReports":"https://github.com/eddelbuettel/digest/issues","Depends":{"R":">=
        3.3.0"},"Imports":{"utils":"*"},"License":"GPL (>= 2)","Suggests":{"tinytest":"*","simplermarkdown":"*"},"VignetteBuilder":"simplermarkdown","NeedsCompilation":"yes","Packaged":"2022-12-10
        18:30:14 UTC; edd","Repository":"CRAN","Date/Publication":"2022-12-11 07:40:02
        UTC","crandb_file_date":"2022-12-11 08:50:40","MD5sum":"9c4e79ef10ce71b9f2773c97291589e5","date":"2022-12-11T06:40:02+00:00","releases":[]}'
  recorded_at: 2023-02-20 09:44:16 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: http://crandb.r-pkg.org/ellipsis
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"CNPBS4HT451W8GZPHO2UYXHV7"
      x-couch-request-id: 7bb9d42583
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"ellipsis","Version[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/evaluate
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"B3UH2F9JTERR0GXQKP6T895MQ"
      x-couch-request-id: 9696056d88
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"evaluate","Type":"Package","Title":"Parsing and Evaluation
        Tools that Provide More Details than the\u000aDefault","Version":"0.20","Authors@R":"c(\u000aperson(\"Hadley\",
        \"Wickham\", role = \"aut\"),\u000aperson(\"Yihui\", \"Xie\", role = c(\"aut\",
        \"cre\"), email = \"xie@yihui.name\", comment = c(ORCID = \"0000-0003-0645-5666\")),\u000aperson(\"Michael\",
        \"Lawrence\", role = \"ctb\"),\u000aperson(\"Thomas\", \"Kluyver\", role =
        \"ctb\"),\u000aperson(\"Jeroen\", \"Ooms\", role = \"ctb\"),\u000aperson(\"Barret\",
        \"Schloerke\", role = \"ctb\"),\u000aperson(\"Adam\", \"Ryczkowski\", role
        = \"ctb\"),\u000aperson(\"Hiroaki\", \"Yutani\", role = \"ctb\"),\u000aperson(\"Michel\",
        \"Lang\", role = \"ctb\"),\u000aperson(\"Karolis\", \"Koncevičius\", role
        = \"ctb\")\u000a)","Description":"Parsing and evaluation tools that make it
        easy to recreate the\u000acommand line behaviour of R.","License":"MIT + file
        LICENSE","URL":"https://github.com/r-lib/evaluate","BugReports":"https://github.com/r-lib/evaluate/issues","Depends":{"R":">=
        3.0.2"},"Imports":{"methods":"*"},"Suggests":{"covr":"*","ggplot2":"*","lattice":"*","testthat":"*"},"RoxygenNote":"7.2.3","Encoding":"UTF-8","NeedsCompilation":"no","Packaged":"2023-01-17
        19:08:31 UTC; yihui","Author":"Hadley Wickham [aut],\u000aYihui Xie [aut,
        cre] (<https://orcid.org/0000-0003-0645-5666>),\u000aMichael Lawrence [ctb],\u000aThomas
        Kluyver [ctb],\u000aJeroen Ooms [ctb],\u000aBarret Schloerke [ctb],\u000aAdam
        Ryczkowski [ctb],\u000aHiroaki Yutani [ctb],\u000aMichel Lang [ctb],\u000aKarolis
        Koncevičius [ctb]","Maintainer":"Yihui Xie <xie@yihui.name>","Repository":"CRAN","Date/Publication":"2023-01-17
        20:20:02 UTC","crandb_file_date":"2023-01-17 22:26:40","MD5sum":"1fa61f12119ef1f1d3441b368d6ce70b","date":"2023-01-17T19:20:02+00:00","releases":[]}'
  recorded_at: 2023-02-20 09:44:16 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: http://crandb.r-pkg.org/jsonlite
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"1HLQVHMK5J819GG4XGB5SPR9E"
      x-couch-request-id: bd9d202258
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"jsonlite","Version[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/lifecycle
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"27PRDZB6GHGTEO3FYOOAN8HXI"
      x-couch-request-id: 3bd6eda477
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"lifecycle","Title":"Manage the Life Cycle of your Package
        Functions","Version":"1.0.3","Authors@R":"c(\u000aperson(\"Lionel\", \"Henry\",
        , \"lionel@rstudio.com\", role = c(\"aut\", \"cre\")),\u000aperson(\"Hadley\",
        \"Wickham\", , \"hadley@rstudio.com\", role = \"aut\",\u000acomment = c(ORCID
        = \"0000-0003-4757-117X\")),\u000aperson(\"RStudio\", role = c(\"cph\", \"fnd\"))\u000a)","Description":"Manage
        the life cycle of your exported functions with shared\u000aconventions, documentation
        badges, and user-friendly deprecation\u000awarnings.","License":"MIT + file
        LICENSE","URL":"https://lifecycle.r-lib.org/, https://github.com/r-lib/lifecycle","BugReports":"https://github.com/r-lib/lifecycle/issues","Depends":{"R":">=
        3.4"},"Imports":{"cli":">= 3.4.0","glue":"*","rlang":">= 1.0.6"},"Suggests":{"covr":"*","crayon":"*","knitr":"*","lintr":"*","rmarkdown":"*","testthat":">=
        3.0.1","tibble":"*","tidyverse":"*","tools":"*","vctrs":"*","withr":"*"},"VignetteBuilder":"knitr","Config/testthat/edition":"3","Config/Needs/website":"tidyverse/tidytemplate","Encoding":"UTF-8","RoxygenNote":"7.2.1","NeedsCompilation":"no","Packaged":"2022-10-07
        08:50:55 UTC; lionel","Author":"Lionel Henry [aut, cre],\u000aHadley Wickham
        [aut] (<https://orcid.org/0000-0003-4757-117X>),\u000aRStudio [cph, fnd]","Maintainer":"Lionel
        Henry <lionel@rstudio.com>","Repository":"CRAN","Date/Publication":"2022-10-07
        09:50:02 UTC","crandb_file_date":"2022-10-07 11:32:33","MD5sum":"023bff9f9b99ca56ed01b705a41a8bed","date":"2022-10-07T08:50:02+00:00","releases":[]}'
  recorded_at: 2023-02-20 09:44:16 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: http://crandb.r-pkg.org/magrittr
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"ETSW4WB8Q3LTPRTFA0VWLGZLS"
      x-couch-request-id: 6ec1cc8914
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Type":"Package","Package":"m[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/pkgload
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"AESNWX443NBX1DKJCW2AVVMAG"
      x-couch-request-id: 1889f8652d
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"pkgload","Title":"S[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/praise
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"Y2YKMOB5A67GCEVTVDQY8317"
      x-couch-request-id: 089c9fcc47
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"praise","Title":"Praise Users","Version":"1.0.0","Author":"Gabor
        Csardi, Sindre Sorhus","Maintainer":"Gabor Csardi <csardi.gabor@gmail.com>","Description":"Build
        friendly R packages that\u000apraise their users if they have done something\u000agood,
        or they just need it to feel better.","License":"MIT + file LICENSE","LazyData":"true","URL":"https://github.com/gaborcsardi/praise","BugReports":"https://github.com/gaborcsardi/praise/issues","Suggests":{"testthat":"*"},"Collate":"''adjective.R''
        ''adverb.R'' ''exclamation.R'' ''verb.R'' ''rpackage.R''\u000a''package.R''","NeedsCompilation":"no","Packaged":"2015-08-11
        02:01:43 UTC; gaborcsardi","Repository":"CRAN","Date/Publication":"2015-08-11
        08:22:28","crandb_file_date":"2015-08-11 02:28:53","date":"2015-08-11T08:22:28+00:00","releases":[]}'
  recorded_at: 2023-02-20 09:44:16 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: http://crandb.r-pkg.org/processx
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"9RTWUYM0MYUM7QR89SKXUMYPC"
      x-couch-request-id: 2fd11c21cb
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"processx","Title":[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/ps
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"63PK5L110YQGPJGJC588R1AD0"
      x-couch-request-id: a565d3162e
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"ps","Title":"List, Query, Manipulate System Processes","Version":"1.7.2","Authors@R":"c(\u000aperson(\"Jay\",
        \"Loden\", role = \"aut\"),\u000aperson(\"Dave\", \"Daeschler\", role = \"aut\"),\u000aperson(\"Giampaolo\",
        \"Rodola''\", role = \"aut\"),\u000aperson(\"Gábor\", \"Csárdi\", , \"csardi.gabor@gmail.com\",
        role = c(\"aut\", \"cre\")),\u000aperson(\"RStudio\", role = c(\"cph\", \"fnd\"))\u000a)","Description":"List,
        query and manipulate all system processes, on\u000a''Windows'', ''Linux''
        and ''macOS''.","License":"MIT + file LICENSE","URL":"https://github.com/r-lib/ps#readme,
        https://ps.r-lib.org/","BugReports":"https://github.com/r-lib/ps/issues","Depends":{"R":">=
        3.4"},"Imports":{"utils":"*"},"Suggests":{"callr":"*","covr":"*","curl":"*","pillar":"*","pingr":"*","processx":">=
        3.1.0","R6":"*","rlang":"*","testthat":">= 3.0.0"},"Biarch":"true","Encoding":"UTF-8","RoxygenNote":"7.2.1","Config/testthat/edition":"3","Config/Needs/website":"tidyverse/tidytemplate","NeedsCompilation":"yes","Packaged":"2022-10-26
        17:03:09 UTC; gaborcsardi","Author":"Jay Loden [aut],\u000aDave Daeschler
        [aut],\u000aGiampaolo Rodola'' [aut],\u000aGábor Csárdi [aut, cre],\u000aRStudio
        [cph, fnd]","Maintainer":"Gábor Csárdi <csardi.gabor@gmail.com>","Repository":"CRAN","Date/Publication":"2022-10-26
        17:32:36 UTC","crandb_file_date":"2022-10-26 18:56:38","MD5sum":"645518ebc2cca679190ced0d3f24ad66","date":"2022-10-26T16:32:36+00:00","releases":[]}'
  recorded_at: 2023-02-20 09:44:16 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: http://crandb.r-pkg.org/rlang
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"8M5BHOYFM4TSUL788BQRWYN0S"
      x-couch-request-id: 3926f7741c
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"rlang","Version":"1.0.6","Title":"Functions for Base Types
        and Core R and ''Tidyverse'' Features","Description":"A toolbox for working
        with base types, core R features\u000alike the condition system, and core
        ''Tidyverse'' features like tidy\u000aevaluation.","Authors@R":"c(\u000aperson(\"Lionel\",
        \"Henry\", ,\"lionel@rstudio.com\", c(\"aut\", \"cre\")),\u000aperson(\"Hadley\",
        \"Wickham\", ,\"hadley@rstudio.com\", \"aut\"),\u000aperson(given = \"mikefc\",\u000aemail
        = \"mikefc@coolbutuseless.com\",\u000arole = \"cph\",\u000acomment = \"Hash
        implementation based on Mike''s xxhashlite\"),\u000aperson(given = \"Yann\",\u000afamily
        = \"Collet\",\u000arole = \"cph\",\u000acomment = \"Author of the embedded
        xxHash library\"),\u000aperson(given = \"RStudio\", role = c(\"cph\", \"fnd\"))\u000a)","License":"MIT
        + file LICENSE","ByteCompile":"true","Biarch":"true","Depends":{"R":">= 3.4.0"},"Imports":{"utils":"*"},"Suggests":{"cli":">=
        3.1.0","covr":"*","crayon":"*","fs":"*","glue":"*","knitr":"*","magrittr":"*","methods":"*","pillar":"*","rmarkdown":"*","stats":"*","testthat":">=
        3.0.0","tibble":"*","usethis":"*","vctrs":">= 0.2.3","withr":"*"},"Enhances":{"winch":"*"},"SystemRequirements":"C++11","Encoding":"UTF-8","RoxygenNote":"7.2.1.9000","URL":"https://rlang.r-lib.org,
        https://github.com/r-lib/rlang","BugReports":"https://github.com/r-lib/rlang/issues","Config/testthat/edition":"3","Config/Needs/website":"dplyr,
        tidyverse/tidytemplate","NeedsCompilation":"yes","Packaged":"2022-09-23 16:12:48
        UTC; lionel","Author":"Lionel Henry [aut, cre],\u000aHadley Wickham [aut],\u000amikefc
        [cph] (Hash implementation based on Mike''s xxhashlite),\u000aYann Collet
        [cph] (Author of the embedded xxHash library),\u000aRStudio [cph, fnd]","Maintainer":"Lionel
        Henry <lionel@rstudio.com>","Repository":"CRAN","Date/Publication":"2022-09-24
        05:40:02 UTC","crandb_file_date":"2022-09-24 06:56:45","MD5sum":"907bc04039194b0c7edc19e9084b14fc","date":"2022-09-24T04:40:02+00:00","releases":[]}'
  recorded_at: 2023-02-20 09:44:16 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: http://crandb.r-pkg.org/waldo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"1D7861BPSPA8U52K0CRN1T9K4"
      x-couch-request-id: 9301780a06
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"waldo","Title":"Find Differences Between R Objects","Version":"0.4.0","Authors@R":"c(\u000aperson(\"Hadley\",
        \"Wickham\", , \"hadley@rstudio.com\", role = c(\"aut\", \"cre\")),\u000aperson(\"RStudio\",
        role = c(\"cph\", \"fnd\"))\u000a)","Description":"Compare complex R objects
        and reveal the key differences.\u000aDesigned particularly for use in testing
        packages where being able to\u000aquickly isolate key differences makes understanding
        test failures much\u000aeasier.","License":"MIT + file LICENSE","URL":"https://waldo.r-lib.org,
        https://github.com/r-lib/waldo","BugReports":"https://github.com/r-lib/waldo/issues","Imports":{"cli":"*","diffobj":">=
        0.3.4","fansi":"*","glue":"*","methods":"*","rematch2":"*","rlang":">= 1.0.0","tibble":"*"},"Suggests":{"covr":"*","R6":"*","testthat":">=
        3.0.0","withr":"*","xml2":"*"},"Config/testthat/edition":"3","Config/Needs/website":"tidyverse/tidytemplate","Encoding":"UTF-8","RoxygenNote":"7.1.2","NeedsCompilation":"no","Packaged":"2022-03-16
        15:49:14 UTC; hadleywickham","Author":"Hadley Wickham [aut, cre],\u000aRStudio
        [cph, fnd]","Maintainer":"Hadley Wickham <hadley@rstudio.com>","Repository":"CRAN","Date/Publication":"2022-03-16
[...]
