http_interactions:
- request:
    method: get
    uri: http://crandb.r-pkg.org/R6
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"DARDUTEE3DSRZX5NFMDBGQ3SL"'
      x-couch-request-id: 0e83b05f01
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"R6","Title":"Encapsulated Classes with Reference Semantics","Version":"2.5.1","Authors@R":"person(\"Winston\",
        \"Chang\", role = c(\"aut\", \"cre\"), email = \"winston@stdout.org\")","Description":"Creates
        classes with reference semantics, similar to R''s built-in\u000areference
        classes. Compared to reference classes, R6 classes are simpler\u000aand lighter-weight,
        and they are not built on S4 classes so they do not\u000arequire the methods
        package. These classes allow public and private\u000amembers, and they support
        inheritance, even when the classes are defined in\u000adifferent packages.","Depends":{"R":">=
        3.0"},"Suggests":{"testthat":"*","pryr":"*"},"License":"MIT + file LICENSE","URL":"https://r6.r-lib.org,
        https://github.com/r-lib/R6/","BugReports":"https://github.com/r-lib/R6/issues","RoxygenNote":"7.1.1","NeedsCompilation":"no","Packaged":"2021-08-06
        20:18:46 UTC; winston","Author":"Winston Chang [aut, cre]","Maintainer":"Winston
        Chang <winston@stdout.org>","Repository":"CRAN","Date/Publication":"2021-08-19
        14:00:05 UTC","crandb_file_date":"2021-08-19 14:44:39","MD5sum":"e84fd376e246738402e5529b6d52e101","date":"2021-08-19T13:00:05+00:00","releases":[]}'
  recorded_at: 2021-12-19 18:17:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://crandb.r-pkg.org/testthat
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"2V1PHH5KGNMN2B1KNY16EYXGO"'
      x-couch-request-id: 879f01a249
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"testthat","Title":"Unit Testing for R","Version":"3.1.1","Authors@R":"\u000ac(person(given
        = \"Hadley\",\u000afamily = \"Wickham\",\u000arole = c(\"aut\", \"cre\"),\u000aemail
        = \"hadley@rstudio.com\"),\u000aperson(given = \"RStudio\",\u000arole = c(\"cph\",
        \"fnd\")),\u000aperson(given = \"R Core team\",\u000arole = \"ctb\",\u000acomment
        = \"Implementation of utils::recover()\"))","Description":"Software testing
        is important, but, in part because it is\u000afrustrating and boring, many
        of us avoid it. ''testthat'' is a testing\u000aframework for R that is easy
        to learn and use, and integrates with\u000ayour existing ''workflow''.","License":"MIT
        + file LICENSE","URL":"https://testthat.r-lib.org, https://github.com/r-lib/testthat","BugReports":"https://github.com/r-lib/testthat/issues","Depends":{"R":">=
        3.1"},"Imports":{"brio":"*","callr":">= 3.5.1","cli":">= 2.2.0","crayon":">=
        1.3.4","desc":"*","digest":"*","ellipsis":">= 0.2.0","evaluate":"*","jsonlite":"*","lifecycle":"*","magrittr":"*","methods":"*","pkgload":"*","praise":"*","processx":"*","ps":">=\u000a1.3.4","R6":">=
        2.2.0","rlang":">= 0.4.9","utils":"*","waldo":">=\u000a0.2.4","withr":">=
        2.3.0"},"Suggests":{"covr":"*","curl":">= 0.9.5","diffviewer":">= 0.1.0","knitr":"*","mockery":"*","rmarkdown":"*","rstudioapi":"*","shiny":"*","usethis":"*","vctrs":">=
        0.1.0","xml2":"*"},"VignetteBuilder":"knitr","Config/testthat/edition":"3","Config/testthat/start-first":"watcher,
        parallel*","Encoding":"UTF-8","RoxygenNote":"7.1.2.9000","NeedsCompilation":"yes","Packaged":"2021-12-03
        19:34:04 UTC; hadleywickham","Author":"Hadley Wickham [aut, cre],\u000aRStudio
        [cph, fnd],\u000aR Core team [ctb] (Implementation of utils::recover())","Maintainer":"Hadley
        Wickham <hadley@rstudio.com>","Repository":"CRAN","Date/Publication":"2021-12-03
        22:50:02 UTC","crandb_file_date":"2021-12-03 23:56:35","MD5sum":"9cec2b8b568861d8c18158a015d22869","date":"2021-12-03T21:50:02+00:00","releases":[]}'
  recorded_at: 2021-12-19 18:17:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://crandb.r-pkg.org/pryr
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"3E1YBV99J8855UW0GKY52DVEF"'
      x-couch-request-id: 4d210b3129
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"pryr","Version":"0.1.5","Title":"Tools for Computing on
        the Language","Description":"Useful tools to pry back the covers of R and
        understand the\u000alanguage at a deeper level.","Authors@R":"c(\u000aperson(\"Hadley\",
        \"Wickham\", ,\"hadley@rstudio.com\", c(\"aut\", \"cre\")),\u000aperson(\"R
        Core team\", role = \"ctb\",\u000acomment = \"Some code extracted from base
        R\")\u000a)","License":"GPL-2","URL":"https://github.com/hadley/pryr","BugReports":"https://github.com/hadley/pryr/issues","LinkingTo":{"Rcpp":"*"},"Depends":{"R":">=
        3.1.0"},"Imports":{"stringr":"*","codetools":"*","methods":"*","Rcpp":">=
        0.11.0","lobstr":"*"},"Suggests":{"testthat":">= 0.8.0"},"RoxygenNote":"7.1.1","NeedsCompilation":"yes","Packaged":"2021-07-26
        04:38:45 UTC; hadley","Author":"Hadley Wickham [aut, cre],\u000aR Core team
        [ctb] (Some code extracted from base R)","Maintainer":"Hadley Wickham <hadley@rstudio.com>","Repository":"CRAN","Date/Publication":"2021-07-26
        09:30:02 UTC","crandb_file_date":"2021-07-26 11:02:38","MD5sum":"b13878df6b45c2fd0f40b2cf2eb7e8b6","date":"2021-07-26T08:30:02+00:00","releases":[]}'
  recorded_at: 2021-12-19 18:17:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://crandb.r-pkg.org/brio
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"23MM00O1LL0Z44B3VCEYT9SLA"'
      x-couch-request-id: e36120cfce
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"brio","Title":"Basi[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/callr
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"XB7ESM474XPWWBQG5F6L1D56"'
      x-couch-request-id: 3995584ec1
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"callr","Title":"Call R from R","Version":"3.7.0","Authors@R":"c(\u000aperson(\"Gábor\",
        \"Csárdi\", role = c(\"aut\", \"cre\", \"cph\"),\u000aemail = \"csardi.gabor@gmail.com\",\u000acomment
        = c(ORCID = \"0000-0001-7098-9676\")),\u000aperson(\"Winston\", \"Chang\",
        role = \"aut\"),\u000aperson(\"RStudio\", role = c(\"cph\", \"fnd\")),\u000aperson(\"Mango
        Solutions\", role  = c(\"cph\", \"fnd\")))","Description":"It is sometimes
        useful to perform a computation in a\u000aseparate R process, without affecting
        the current R process at all.\u000aThis packages does exactly that.","License":"MIT
        + file LICENSE","URL":"https://callr.r-lib.org, https://github.com/r-lib/callr#readme","BugReports":"https://github.com/r-lib/callr/issues","RoxygenNote":"7.1.1.9001","Imports":{"processx":">=
        3.5.0","R6":"*","utils":"*"},"Suggests":{"cli":"*","covr":"*","ps":"*","rprojroot":"*","spelling":"*","testthat":"*","withr":">=\u000a2.3.0"},"Encoding":"UTF-8","Language":"en-US","NeedsCompilation":"no","Packaged":"2021-04-20
        12:39:23 UTC; gaborcsardi","Author":"Gábor Csárdi [aut, cre, cph] (<https://orcid.org/0000-0001-7098-9676>),\u000aWinston
        Chang [aut],\u000aRStudio [cph, fnd],\u000aMango Solutions [cph, fnd]","Maintainer":"Gábor
        Csárdi <csardi.gabor@gmail.com>","Repository":"CRAN","Date/Publication":"2021-04-20
        14:20:10 UTC","crandb_file_date":"2021-04-20 15:50:38","MD5sum":"aad15b0304e0a0f59fe9f2f3e75c8f15","date":"2021-04-20T13:20:10+00:00","releases":[]}'
  recorded_at: 2021-12-19 18:17:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://crandb.r-pkg.org/cli
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"CSU4G2IENL765ARFX56N0081X"'
      x-couch-request-id: e42008da81
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"cli","Title":"Helper[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/crayon
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"3XQDAIZD76AGD413N3SKYFYWT"'
      x-couch-request-id: 8fe110c526
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"crayon","Title":"Colored Terminal Output","Version":"1.4.2","Authors@R":"c(\u000aperson(\"Gábor\",
        \"Csárdi\", , \"csardi.gabor@gmail.com\",\u000arole = c(\"aut\", \"cre\")),\u000aperson(\u000a\"Brodie\",
        \"Gaslam\", email=\"brodie.gaslam@yahoo.com\",\u000arole=c(\"ctb\"))\u000a)","Description":"Colored
        terminal output on terminals that support ''ANSI''\u000acolor and highlight
        codes. It also works in ''Emacs'' ''ESS''. ''ANSI''\u000acolor support is
        automatically detected. Colors and highlighting can\u000abe combined and nested.
        New styles can also be created easily.\u000aThis package was inspired by the
        ''chalk'' ''JavaScript'' project.","License":"MIT + file LICENSE","URL":"https://github.com/r-lib/crayon#readme","BugReports":"https://github.com/r-lib/crayon/issues","Collate":"''aaa-rstudio-detect.R''
        ''aab-num-ansi-colors.R''\u000a''aac-num-ansi-colors.R'' ''ansi-256.r'' ''ansi-palette.R''\u000a''combine.r''
        ''string.r'' ''utils.r'' ''crayon-package.r''\u000a''disposable.r'' ''has_ansi.r''
        ''has_color.r'' ''link.R'' ''styles.r''\u000a''machinery.r'' ''parts.r'' ''print.r''
        ''rematch2.R'' ''style-var.r''\u000a''show.r'' ''string_operations.r''","Imports":{"grDevices":"*","methods":"*","utils":"*"},"Suggests":{"mockery":"*","rstudioapi":"*","testthat":"*","withr":"*"},"RoxygenNote":"7.1.2","Encoding":"UTF-8","NeedsCompilation":"no","Packaged":"2021-10-26
        12:16:51 UTC; gaborcsardi","Author":"Gábor Csárdi [aut, cre],\u000aBrodie
        Gaslam [ctb]","Maintainer":"Gábor Csárdi <csardi.gabor@gmail.com>","Repository":"CRAN","Date/Publication":"2021-10-29
        23:20:02 UTC","crandb_file_date":"2021-10-30 00:56:29","MD5sum":"38eb751b269bc21e9f5cc2f9f9a1a299","date":"2021-10-29T22:20:02+00:00","releases":[]}'
  recorded_at: 2021-12-19 18:17:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://crandb.r-pkg.org/desc
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"BOOCG7XIOOG78AGEBWR5CETN9"'
      x-couch-request-id: f1166aa1c2
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"desc","Title":"Mani[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/digest
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"ANHNJKLO93TFJCEFVJT7XJHB5"'
      x-couch-request-id: 965231c63e
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"digest","Author":"Dirk Eddelbuettel <edd@debian.org> with
        contributions\u000aby Antoine Lucas, Jarek Tuszynski, Henrik Bengtsson, Simon
        Urbanek,\u000aMario Frasca, Bryan Lewis, Murray Stokely, Hannes Muehleisen,\u000aDuncan
        Murdoch, Jim Hester, Wush Wu, Qiang Kou, Thierry Onkelinx,\u000aMichel Lang,
        Viliam Simko, Kurt Hornik, Radford Neal, Kendon Bell,\u000aMatthew de Queljoe,
        Ion Suruceanu, Bill Denney, Dirk Schumacher,\u000aand Winston Chang.","Version":"0.6.29","Date":"2021-11-30","Maintainer":"Dirk
        Eddelbuettel <edd@debian.org>","Title":"Create Compact Hash Digests of R Objects","Description":"Implementation
        of a function ''digest()'' for the creation of hash\u000adigests of arbitrary
        R objects (using the ''md5'', ''sha-1'', ''sha-256'', ''crc32'',\u000a''xxhash'',
        ''murmurhash'', ''spookyhash'' and ''blake3'' algorithms) permitting easy\u000acomparison
        of R language objects, as well as functions such as''hmac()'' to\u000acreate
        hash-based message authentication code. Please note that this package\u000ais
        not meant to be deployed for cryptographic purposes for which more\u000acomprehensive
        (and widely tested) libraries such as ''OpenSSL'' should be\u000aused.","URL":"https://github.com/eddelbuettel/digest,\u000ahttp://dirk.eddelbuettel.com/code/digest.html","BugReports":"https://github.com/eddelbuettel/digest/issues","Depends":{"R":">=
        3.3.0"},"Imports":{"utils":"*"},"License":"GPL (>= 2)","Suggests":{"tinytest":"*","simplermarkdown":"*"},"VignetteBuilder":"simplermarkdown","NeedsCompilation":"yes","Packaged":"2021-11-30
        23:41:39 UTC; edd","Repository":"CRAN","Date/Publication":"2021-12-01 07:40:02
        UTC","crandb_file_date":"2021-12-01 08:44:27","MD5sum":"90c3726bf088f74df10a4e724c358e50","date":"2021-12-01T06:40:02+00:00","releases":[]}'
  recorded_at: 2021-12-19 18:17:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://crandb.r-pkg.org/ellipsis
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"62O6G97F30NCJYHY39P4096FA"'
      x-couch-request-id: ba4f6a57a0
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"ellipsis","Vers[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/evaluate
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"DSPFGAKOWFQY6TDYC7418KCOV"'
      x-couch-request-id: ca01b69c22
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"evaluate","Type":"Package","Title":"Parsing and Evaluation
        Tools that Provide More Details than the\u000aDefault","Version":"0.14","Authors@R":"c(\u000aperson(\"Hadley\",
        \"Wickham\", role = \"aut\"),\u000aperson(\"Yihui\", \"Xie\", role = c(\"aut\",
        \"cre\"), email = \"xie@yihui.name\", comment = c(ORCID = \"0000-0003-0645-5666\")),\u000aperson(\"Michael\",
        \"Lawrence\", role = \"ctb\"),\u000aperson(\"Thomas\", \"Kluyver\", role =
        \"ctb\"),\u000aperson(\"Jeroen\", \"Ooms\", role = \"ctb\"),\u000aperson(\"Barret\",
        \"Schloerke\", role = \"ctb\"),\u000aperson(\"Adam\", \"Ryczkowski\", role
        = \"ctb\"),\u000aperson(\"Hiroaki\", \"Yutani\", role = \"ctb\"),\u000aperson(\"Michel\",
        \"Lang\", role = \"ctb\"),\u000aperson(\"Karolis\", \"Koncevičius\", role
        = \"ctb\")\u000a)","Description":"Parsing and evaluation tools that make it
        easy to recreate the\u000acommand line behaviour of R.","License":"MIT + file
        LICENSE","URL":"https://github.com/r-lib/evaluate","BugReports":"https://github.com/r-lib/evaluate/issues","Depends":{"R":">=
        3.0.2"},"Imports":{"methods":"*"},"Suggests":{"testthat":"*","lattice":"*","ggplot2":"*"},"RoxygenNote":"6.1.1","Encoding":"UTF-8","NeedsCompilation":"no","Packaged":"2019-05-28
        15:30:02 UTC; yihui","Author":"Hadley Wickham [aut],\u000aYihui Xie [aut,
        cre] (<https://orcid.org/0000-0003-0645-5666>),\u000aMichael Lawrence [ctb],\u000aThomas
        Kluyver [ctb],\u000aJeroen Ooms [ctb],\u000aBarret Schloerke [ctb],\u000aAdam
        Ryczkowski [ctb],\u000aHiroaki Yutani [ctb],\u000aMichel Lang [ctb],\u000aKarolis
        Koncevičius [ctb]","Maintainer":"Yihui Xie <xie@yihui.name>","Repository":"CRAN","Date/Publication":"2019-05-28
        15:50:02 UTC","crandb_file_date":"2019-05-28 16:56:25","MD5sum":"8bcf26d1cc5b3f8fc14056ddfebcd295","date":"2019-05-28T14:50:02+00:00","releases":[]}'
  recorded_at: 2021-12-19 18:17:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://crandb.r-pkg.org/jsonlite
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"BK6I8CZL4ZWG0RJHMEK2NCZGO"'
      x-couch-request-id: aa461dbc03
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"jsonlite","Vers[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/lifecycle
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"2LB7583ALTJ1Z1OP1YDXBYHVA"'
      x-couch-request-id: 1e5f513232
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"lifecycle","Title":"Manage the Life Cycle of your Package
        Functions","Version":"1.0.1","Authors@R":"\u000ac(person(given = \"Lionel\",\u000afamily
        = \"Henry\",\u000arole = c(\"aut\", \"cre\"),\u000aemail = \"lionel@rstudio.com\"),\u000aperson(given
        = \"Hadley\",\u000afamily = \"Wickham\",\u000arole = \"aut\",\u000aemail =
        \"hadley@rstudio.com\",\u000acomment = c(ORCID = \"0000-0003-4757-117X\")),\u000aperson(given
        = \"RStudio\",\u000arole = \"cph\"))","Description":"Manage the life cycle
        of your exported functions\u000awith shared conventions, documentation badges,
        and user-friendly\u000adeprecation warnings.","License":"MIT + file LICENSE","URL":"https://lifecycle.r-lib.org/,
        https://github.com/r-lib/lifecycle","BugReports":"https://github.com/r-lib/lifecycle/issues","Depends":{"R":">=
        3.3"},"Imports":{"glue":"*","rlang":">= 0.4.10"},"Suggests":{"covr":"*","crayon":"*","lintr":"*","tidyverse":"*","knitr":"*","rmarkdown":"*","testthat":">=
        3.0.1","tools":"*","tibble":"*","vctrs":"*"},"VignetteBuilder":"knitr","Config/testthat/edition":"3","Encoding":"UTF-8","RoxygenNote":"7.1.2","NeedsCompilation":"no","Packaged":"2021-09-24
        14:46:50 UTC; lionel","Author":"Lionel Henry [aut, cre],\u000aHadley Wickham
        [aut] (<https://orcid.org/0000-0003-4757-117X>),\u000aRStudio [cph]","Maintainer":"Lionel
        Henry <lionel@rstudio.com>","Repository":"CRAN","Date/Publication":"2021-09-24
        15:30:02 UTC","crandb_file_date":"2021-09-24 16:26:30","MD5sum":"e9f7135a17ff300c2ab6a9e6b72e3810","date":"2021-09-24T14:30:02+00:00","releases":[]}'
  recorded_at: 2021-12-19 18:17:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://crandb.r-pkg.org/magrittr
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"3CGUPT0TJDESEKUJD8I1ZIGQ"'
      x-couch-request-id: 092b5821a6
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Type":"Package","Package":[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/pkgload
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"4WXY3I8ZLHWN2V9ZQGHX0BC1S"'
      x-couch-request-id: 57372df860
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"pkgload","Title"[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/praise
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"EO2CR74RM9XUB5MVYV6XFDCQ4"'
      x-couch-request-id: c519b0f218
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"praise","Title":"Praise Users","Version":"1.0.0","Author":"Gabor
        Csardi, Sindre Sorhus","Maintainer":"Gabor Csardi <csardi.gabor@gmail.com>","Description":"Build
        friendly R packages that\u000apraise their users if they have done something\u000agood,
        or they just need it to feel better.","License":"MIT + file LICENSE","LazyData":"true","URL":"https://github.com/gaborcsardi/praise","BugReports":"https://github.com/gaborcsardi/praise/issues","Suggests":{"testthat":"*"},"Collate":"''adjective.R''
        ''adverb.R'' ''exclamation.R'' ''verb.R'' ''rpackage.R''\u000a''package.R''","NeedsCompilation":"no","Packaged":"2015-08-11
        02:01:43 UTC; gaborcsardi","Repository":"CRAN","Date/Publication":"2015-08-11
        08:22:28","crandb_file_date":"2015-08-11 02:28:53","date":"2015-08-11T08:22:28+00:00","releases":[]}'
  recorded_at: 2021-12-19 18:17:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://crandb.r-pkg.org/processx
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"276I1VIRMT26C7L74LCX8BI0U"'
      x-couch-request-id: '9978774649'
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"processx","Ti[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/ps
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"EFXRTJV35KLUY4AI3R577CROE"'
      x-couch-request-id: 321a66866d
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"ps","Version":"1.6.0","Title":"List, Query, Manipulate
        System Processes","Description":"List, query and manipulate all system processes,
        on ''Windows'',\u000a''Linux'' and ''macOS''.","Authors@R":"c(\u000aperson(\"Jay\",
        \"Loden\", role = \"aut\"),\u000aperson(\"Dave\", \"Daeschler\", role = \"aut\"),\u000aperson(\"Giampaolo\",
        \"Rodola''\", role = \"aut\"),\u000aperson(\"Gábor\", \"Csárdi\", , \"csardi.gabor@gmail.com\",
        c(\"aut\", \"cre\")),\u000aperson(\"RStudio\", role = \"cph\"))","License":"MIT
        + file LICENSE","URL":"https://github.com/r-lib/ps#readme","BugReports":"https://github.com/r-lib/ps/issues","Encoding":"UTF-8","Depends":{"R":">=
        3.1"},"Imports":{"utils":"*"},"Suggests":{"callr":"*","covr":"*","curl":"*","pingr":"*","processx":">=
        3.1.0","R6":"*","rlang":"*","testthat":"*","tibble":"*"},"RoxygenNote":"7.1.1.9001","Biarch":"true","NeedsCompilation":"yes","Packaged":"2021-02-28
        20:25:46 UTC; gaborcsardi","Author":"Jay Loden [aut],\u000aDave Daeschler
        [aut],\u000aGiampaolo Rodola'' [aut],\u000aGábor Csárdi [aut, cre],\u000aRStudio
        [cph]","Maintainer":"Gábor Csárdi <csardi.gabor@gmail.com>","Repository":"CRAN","Date/Publication":"2021-02-28
        20:50:02 UTC","crandb_file_date":"2021-02-28 21:50:30","MD5sum":"3dfe5df2b8e73b52d2370b65b8e5b8da","date":"2021-02-28T19:50:02+00:00","releases":[]}'
  recorded_at: 2021-12-19 18:17:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://crandb.r-pkg.org/rlang
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"41SAAZE9GL5PH2PZK3CO8R69Y"'
      x-couch-request-id: 3abd40a045
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"rlang","Version":"0.4.12","Title":"Functions for Base Types
        and Core R and ''Tidyverse'' Features","Description":"A toolbox for working
        with base types, core R features\u000alike the condition system, and core
        ''Tidyverse'' features like tidy\u000aevaluation.","Authors@R":"c(\u000aperson(\"Lionel\",
        \"Henry\", ,\"lionel@rstudio.com\", c(\"aut\", \"cre\")),\u000aperson(\"Hadley\",
        \"Wickham\", ,\"hadley@rstudio.com\", \"aut\"),\u000aperson(given = \"mikefc\",\u000aemail
        = \"mikefc@coolbutuseless.com\",\u000arole = \"cph\",\u000acomment = \"Hash
        implementation based on Mike''s xxhashlite\"),\u000aperson(given = \"Yann\",\u000afamily
        = \"Collet\",\u000arole = \"cph\",\u000acomment = \"Author of the embedded
        xxHash library\"),\u000aperson(\"RStudio\", role = \"cph\")\u000a)","License":"MIT
        + file LICENSE","ByteCompile":"true","Biarch":"true","Depends":{"R":">= 3.3.0"},"Imports":{"utils":"*"},"Suggests":{"cli":"*","covr":"*","crayon":"*","glue":"*","magrittr":"*","methods":"*","pak":"*","pillar":"*","rmarkdown":"*","testthat":">=
        3.0.0","vctrs":">= 0.2.3","withr":"*"},"Enhances":{"winch":"*"},"Encoding":"UTF-8","RoxygenNote":"7.1.1","URL":"https://rlang.r-lib.org,
        https://github.com/r-lib/rlang","BugReports":"https://github.com/r-lib/rlang/issues","Config/testthat/edition":"3","NeedsCompilation":"yes","Packaged":"2021-10-18
        07:25:49 UTC; lionel","Author":"Lionel Henry [aut, cre],\u000aHadley Wickham
        [aut],\u000amikefc [cph] (Hash implementation based on Mike''s xxhashlite),\u000aYann
        Collet [cph] (Author of the embedded xxHash library),\u000aRStudio [cph]","Maintainer":"Lionel
        Henry <lionel@rstudio.com>","Repository":"CRAN","Date/Publication":"2021-10-18
        23:00:02 UTC","crandb_file_date":"2021-10-19 00:14:38","MD5sum":"08b32904d41f5fcb5d33188f0004f91b","date":"2021-10-18T22:00:02+00:00","releases":[]}'
  recorded_at: 2021-12-19 18:17:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://crandb.r-pkg.org/waldo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"8T14KFLRYMLS3LACBDP9LXKC6"'
      x-couch-request-id: 9fa365c258
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"waldo","Title":"Find Differences Between R Objects","Version":"0.3.1","Authors@R":"\u000ac(person(given
        = \"Hadley\",\u000afamily = \"Wickham\",\u000arole = c(\"aut\", \"cre\"),\u000aemail
        = \"hadley@rstudio.com\"),\u000aperson(given = \"RStudio\",\u000arole = \"cph\"))","Description":"Compare
        complex R objects and reveal the key\u000adifferences.  Designed particularly
        for use in testing packages where\u000abeing able to quickly isolate key differences
        makes understanding test\u000afailures much easier.","License":"MIT + file
        LICENSE","URL":"https://waldo.r-lib.org, https://github.com/r-lib/waldo","BugReports":"https://github.com/r-lib/waldo/issues","Imports":{"cli":"*","diffobj":">=
        0.3.4","fansi":"*","glue":"*","methods":"*","rematch2":"*","rlang":">= 0.4.10","tibble":"*"},"Suggests":{"testthat":">=
        3.0.0","covr":"*","R6":"*","withr":"*","xml2":"*"},"Encoding":"UTF-8","RoxygenNote":"7.1.2","Config/testthat/edition":"3","NeedsCompilation":"no","Packaged":"2021-09-14
        17:58:24 UTC; hadley","Author":"Hadley Wickham [aut, cre],\u000aRStudio [cph]","Maintainer":"Hadley
        Wickham <hadley@rstudio.com>","Repository":"CRAN","Date/Publication":"2021-09-14
        18:20:02 UTC","crandb_file_date":"2021-09-14 19:44:42","MD5sum":"516466ef85a393e610e97efa10d7718f","date":"2021-09-14T17:20:02+00:00","releases":[]}'
  recorded_at: 2021-12-19 18:17:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://crandb.r-pkg.org/withr
[...]
