http_interactions:
- request:
    method: get
    uri: http://crandb.r-pkg.org/rlang
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"FPTASBT3KUDKH25QEN4PIXT7"'
      x-couch-request-id: ed3de20269
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"rlang","Version":"0.4.10","Title":"Functions for Base Types
        and Core R and ''Tidyverse'' Features","Description":"A toolbox for working
        with base types, core R features\u000alike the condition system, and core
        ''Tidyverse'' features like tidy\u000aevaluation.","Authors@R":"c(\u000aperson(\"Lionel\",
        \"Henry\", ,\"lionel@rstudio.com\", c(\"aut\", \"cre\")),\u000aperson(\"Hadley\",
        \"Wickham\", ,\"hadley@rstudio.com\", \"aut\"),\u000aperson(given = \"mikefc\",\u000aemail
        = \"mikefc@coolbutuseless.com\",\u000arole = \"cph\",\u000acomment = \"Hash
        implementation based on Mike''s xxhashlite\"),\u000aperson(given = \"Yann\",\u000afamily
        = \"Collet\",\u000arole = \"cph\",\u000acomment = \"Author of the embedded
        xxHash library\"),\u000aperson(\"RStudio\", role = \"cph\")\u000a)","License":"MIT
        + file LICENSE","LazyData":"true","ByteCompile":"true","Biarch":"true","Depends":{"R":">=
        3.3.0"},"Imports":{"utils":"*"},"Suggests":{"cli":"*","covr":"*","crayon":"*","glue":"*","magrittr":"*","methods":"*","pak":"*","pillar":"*","rmarkdown":"*","testthat":">=
        3.0.0","vctrs":">= 0.2.3","withr":"*"},"Enhances":{"winch":"*"},"Encoding":"UTF-8","RoxygenNote":"7.1.1","URL":"https://rlang.r-lib.org,
        https://github.com/r-lib/rlang","BugReports":"https://github.com/r-lib/rlang/issues","Config/testthat/edition":"3","NeedsCompilation":"yes","Packaged":"2020-12-18
        09:35:30 UTC; lionel","Author":"Lionel Henry [aut, cre],\u000aHadley Wickham
        [aut],\u000amikefc [cph] (Hash implementation based on Mike''s xxhashlite),\u000aYann
        Collet [cph] (Author of the embedded xxHash library),\u000aRStudio [cph]","Maintainer":"Lionel
        Henry <lionel@rstudio.com>","Repository":"CRAN","Date/Publication":"2020-12-30
        15:00:02 UTC","crandb_file_date":"2020-12-30 19:59:36","MD5sum":"9d220113da67a44c7dfb382cddfcddee","date":"2020-12-30T14:00:02+00:00","releases":[]}'
  recorded_at: 2021-04-01 08:49:00 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
