http_interactions:
- request:
    method: get
    uri: http://crandb.r-pkg.org/shiny
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"EIY629K192GN9ZNFDOI64MF6K"'
      x-couch-request-id: 34afec5c2a
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"shiny","Type":"Package","Title":"Web Application Framework
        for R","Version":"1.6.0","Authors@R":"c(\u000aperson(\"Winston\", \"Chang\",
        role = c(\"aut\", \"cre\"), email = \"winston@rstudio.com\"),\u000aperson(\"Joe\",
        \"Cheng\", role = \"aut\", email = \"joe@rstudio.com\"),\u000aperson(\"JJ\",
        \"Allaire\", role = \"aut\", email = \"jj@rstudio.com\"),\u000aperson(\"Carson\",
        \"Sievert\", role = \"aut\", email = \"carson@rstudio.com\"),\u000aperson(\"Barret\",
        \"Schloerke\", role = \"aut\", email = \"barret@rstudio.com\"),\u000aperson(\"Yihui\",
     [...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/httpuv
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"EWAJZDSG9WRDQ5W1QNP0MZO01"'
      x-couch-request-id: 641e0c4113
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"httpuv","Type":"Package","Encoding":"UTF-8","Title":"HTTP
        and WebSocket Server Library","Version":"1.6.1","Authors@R":"c(\u000aperson(\"Joe\",
        \"Cheng\", role = c(\"aut\"), email = \"joe@rstudio.com\"),\u000aperson(\"Winston\",
        \"Chang\", role = c(\"aut\", \"cre\"), email = \"winston@rstudio.com\"),\u000aperson(family
        = \"RStudio, PBC\", role = \"cph\"),\u000aperson(\"Hector\", \"Corrada Bravo\",
        role = \"ctb\"),\u000aperson(\"Jeroen\", \"Ooms\", role = \"ctb\"),\u000aperson(\"Andrzej\",
        \"Krzemienski\", role = \"cph\", comment = \"optional.hpp\")\u000a)","Copyright":"RStudio,
        PBC; Joyent, Inc.; Nginx Inc.; Igor Sysoev; Niels\u000aProvos; Internet Systems
        Consortium, Inc.; Alexander Chemeris;\u000aBerkeley Software Design; Google
        Inc.; Sony Mobile\u000aCommunications AB; Alexander Peslyak; Free Software
        Foundation,\u000aInc.; X Consortium; Ben Noordhuis; StrongLoop, Inc.; Saúl\u000aIbarra
        Corretgé; Bert Belder; Fedor Indutny; libuv project;\u000aRefael Ackermann;
        Kenneth MacKay; Emergya; Diego Pettenò; xine\u000aproject, The Regents of
        the University of California, Dariusz\u000aDwornikowski","Description":"Provides
        low-level socket and protocol support for handling\u000aHTTP and WebSocket
        requests directly from within R. It is primarily\u000aintended as a building
        block for other packages, rather than making it\u000aparticularly easy to
        create complete web applications using httpuv alone.\u000ahttpuv is built
        on top of the libuv and http-parser C libraries, both of\u000awhich were developed
        by Joyent, Inc. (See LICENSE file for libuv and\u000ahttp-parser license information.)","License":"GPL
        (>= 2) | file LICENSE","Depends":{"R":">= 2.15.1"},"Imports":{"Rcpp":">= 0.11.0","utils":"*","R6":"*","promises":"*","later":">=
        0.8.0"},"LinkingTo":{"Rcpp":"*","later":"*"},"URL":"https://github.com/rstudio/httpuv","SystemRequirements":"GNU
        make, C++11","RoxygenNote":"7.1.1","Suggests":{"testthat":"*","callr":"*","curl":"*","websocket":"*"},"Collate":"''RcppExports.R''
        ''httpuv.R'' ''random_port.R'' ''server.R''\u000a''static_paths.R'' ''utils.R''","NeedsCompilation":"yes","Packaged":"2021-05-06
        23:41:39 UTC; winston","Author":"Joe Cheng [aut],\u000aWinston Chang [aut,
        cre],\u000aRStudio, PBC [cph],\u000aHector Corrada Bravo [ctb],\u000aJeroen
        Ooms [ctb],\u000aAndrzej Krzemienski [cph] (optional.hpp)","Maintainer":"Winston
        Chang <winston@rstudio.com>","Repository":"CRAN","Date/Publication":"2021-05-07
        04:50:02 UTC","crandb_file_date":"2021-05-07 06:02:33","MD5sum":"b200ef00e3bef497b08a170b90834e86","date":"2021-05-07T03:50:02+00:00","releases":[]}'
  recorded_at: 2021-05-27 15:46:01 GMT
  recorded_with: vcr/1.0.0, webmockr/0.8.0
- request:
    method: get
    uri: http://crandb.r-pkg.org/mime
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"E4ZRR60XFJ364SENAHX8D8VP9"'
      x-couch-request-id: 333366edd7
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"mime","Type":"Package","Title":"Map Filenames to MIME Types","Version":"0.10","Authors@R":"c(\u000aperson(\"Yihui\",
        \"Xie\", role = c(\"aut\", \"cre\"), email = \"xie@yihui.name\", comment =
        c(ORCID = \"0000-0003-0645-5666\")),\u000aperson(\"Jeffrey\", \"Horner\",
        role = \"ctb\"),\u000aperson(\"Beilei\", \"Bian\", role = \"ctb\")\u000a)","Description":"Guesses
        the MIME type from a filename extension using the data\u000aderived from /etc/mime.types
        in UNIX-type systems.","Imports":{"tools":"*"},"License":"GPL","URL":"https://github.com/yihui/mime","BugReports":"https://github.com/yihui/mime/issues","LazyData":"TRUE","RoxygenNote":"7.1.1","Encoding":"UTF-8","NeedsCompilation":"yes","Packaged":"2021-02-12
        21:48:56 UTC; yihui","Author":"Yihui Xie [aut, cre] (<https://orcid.org/0000-0003-0645-5666>),\u000aJeffrey
        Horner [ctb],\u000aBeilei Bian [ctb]","Maintainer":"Yihui Xie <xie@yihui.name>","Repository":"CRAN","Date/Publication":"2021-02-13
        07:30:02 UTC","crandb_file_date":"2021-02-13 08:56:31","MD5sum":"cb703197ad3a35cd8fee75d8f29ee327","date":"2021-02-13T06:30:02+00:00","releases":[]}'
  recorded_at: 2021-05-27 15:46:01 GMT
  recorded_with: vcr/1.0.0, webmockr/0.8.0
- request:
    method: get
    uri: http://crandb.r-pkg.org/jsonlite
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"BK6I8CZL4ZWG0RJHMEK2NCZGO"'
      x-couch-request-id: e0bfa8de98
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"jsonlite","Version":"1.7.2","Title":"A Simple and Robust
        JSON Parser and Generator for R","License":"MIT + file LICENSE","Depends":{"methods":"*"},"Authors@R":"c(\u000aperson(\"Jeroen\",
        \"Ooms\", role = c(\"aut\", \"cre\"), email = \"jeroen@berkeley.edu\",\u000acomment
        = c(ORCID = \"0000-0002-4035-0289\")),\u000aperson(\"Duncan\", \"Temple Lang\",
        role = \"ctb\"),\u000aperson(\"Lloyd\", \"Hilaiel\", role = \"cph\", comment=\"author
        of bundled libyajl\"))","URL":"https://arxiv.org/abs/1403.2805 (paper)","BugReports":"https://github.com/jeroen/jsonlite/issues","Maintainer":"Jeroen
        Ooms <jeroen@berkeley.edu>","VignetteBuilder":"knitr, R.rsp","Description":"A
        reasonably fast JSON parser and generator, optimized for statistical\u000adata
        and the web. Offers simple, flexible tools for working with JSON in R, and\u000ais
        particularly powerful for building pipelines and interacting with a web API.\u000aThe
        implementation is based on the mapping described in the vignette (Ooms, 2014).\u000aIn
        addition to converting JSON data from/to R objects, ''jsonlite'' contains\u000afunctions
        to stream, validate, and prettify JSON data. The unit tests included\u000awith
        the package verify that all edge cases are encoded and decoded consistently\u000afor
        use with dynamic data in systems and applications.","Suggests":{"httr":"*","curl":"*","plyr":"*","testthat":"*","knitr":"*","rmarkdown":"*","R.rsp":"*","sf":"*"},"RoxygenNote":"7.1.1","Encoding":"UTF-8","NeedsCompilation":"yes","Packaged":"2020-12-09
        13:54:18 UTC; jeroen","Author":"Jeroen Ooms [aut, cre] (<https://orcid.org/0000-0002-4035-0289>),\u000aDuncan
        Temple Lang [ctb],\u000aLloyd Hilaiel [cph] (author of bundled libyajl)","Repository":"CRAN","Date/Publication":"2020-12-09
        17:40:03 UTC","crandb_file_date":"2020-12-09 18:32:36","MD5sum":"6131e916e7a678552f6debecf620ccb1","date":"2020-12-09T16:40:03+00:00","releases":[]}'
  recorded_at: 2021-05-27 15:46:01 GMT
  recorded_with: vcr/1.0.0, webmockr/0.8.0
- request:
    method: get
    uri: http://crandb.r-pkg.org/xtable
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"345F64C7G4OMAC738M4SQCANF"'
      x-couch-request-id: ae1f9f5a65
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"xtable","Version":"1.8-4","Date":"2019-04-08","Title":"Export
        Tables to LaTeX or HTML","Authors@R":"c(person(\"David B.\", \"Dahl\", role=\"aut\"),\u000aperson(\"David\",
        \"Scott\", role=c(\"aut\",\"cre\"),\u000aemail=\"d.scott@auckland.ac.nz\"),\u000aperson(\"Charles\",
        \"Roosen\", role=\"aut\"),\u000aperson(\"Arni\", \"Magnusson\", role=\"aut\"),\u000aperson(\"Jonathan\",
        \"Swinton\", role=\"aut\"),\u000aperson(\"Ajay\", \"Shah\", role=\"ctb\"),\u000aperson(\"Arne\",
        \"Henningsen\", rol[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/digest
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"EULA8OQ1R2IIRAW5YEN781JM1"'
      x-couch-request-id: 3016f7c59a
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"digest","Author":[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/htmltools
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"EEOTEQ31NH98WS8E3H7XGH413"'
      x-couch-request-id: 61f221705f
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"htmltools","Type":"Package","Title":"Tools for HTML","Version":"0.5.1.1","Authors@R":"c(\u000aperson(\"Joe\",
        \"Cheng\", role = \"aut\", email = \"joe@rstudio.com\"),\u000aperson(\"Carson\",
        \"Sievert\", role = c(\"aut\", \"cre\"), email = \"carson@rstudio.com\", comment
        = c(ORCID = \"0000-0002-4958-2844\")),\u000aperson(\"Winston\", \"Chang\",
        role = \"aut\", email = \"winston@rstudio.com\"),\u000aperson(\"Yihui\", \"Xie\",
        role = \"aut\", email = \"yihui@rstudio.com\"),\u000aperson(\"Jeff\", \"Allen\",
        role = \"aut\", email = \"jeff@rstudio.com\"),\u000aperson(family = \"RStudio\",
        role = \"cph\")\u000a)","Description":"Tools for HTML generation and output.","Depends":{"R":">=
        2.14.1"},"Imports":{"utils":"*","digest":"*","grDevices":"*","base64enc":"*","rlang":"*"},"Suggests":{"markdown":"*","testthat":"*","withr":"*","Cairo":"*","ragg":"*","shiny":"*"},"Enhances":{"knitr":"*"},"License":"GPL
        (>= 2)","URL":"https://github.com/rstudio/htmltools","BugReports":"https://github.com/rstudio/htmltools/issues","RoxygenNote":"7.1.1","Encoding":"UTF-8","Collate":"''colors.R''
        ''html_dependency.R'' ''html_escape.R'' ''html_print.R''\u000a''images.R''
        ''known_tags.R'' ''shim.R'' ''utils.R'' ''tags.R''\u000a''template.R''","NeedsCompilation":"yes","Packaged":"2021-01-22
        19:04:19 UTC; cpsievert","Author":"Joe Cheng [aut],\u000aCarson Sievert [aut,
        cre] (<https://orcid.org/0000-0002-4958-2844>),\u000aWinston Chang [aut],\u000aYihui
        Xie [aut],\u000aJeff Allen [aut],\u000aRStudio [cph]","Maintainer":"Carson
        Sievert <carson@rstudio.com>","Repository":"CRAN","Date/Publication":"2021-01-22
        22:40:02 UTC","crandb_file_date":"2021-01-23 00:32:37","MD5sum":"c2c34a72d7012a249c63450466d5857c","date":"2021-01-22T21:40:02+00:00","releases":[]}'
  recorded_at: 2021-05-27 15:46:01 GMT
  recorded_with: vcr/1.0.0, webmockr/0.8.0
- request:
    method: get
    uri: http://crandb.r-pkg.org/R6
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"1ECKW932K0N84EUT02H0H84C2"'
      x-couch-request-id: b39f9aba62
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"R6","Title":"Encapsulated Classes with Reference Semantics","Version":"2.5.0","Authors@R":"person(\"Winston\",
        \"Chang\", role = c(\"aut\", \"cre\"), email = \"winston@stdout.org\")","Description":"Creates
        classes with reference semantics, similar to R''s built-in\u000areference
        classes. Compared to reference classes, R6 classes are simpler\u000aand lighter-weight,
        and they are not built on S4 classes so they do not\u000arequire the methods
        package. These classes allow public and private\u000amembers, and they support
        inheritance, even when the classes are defined in\u000adifferent packages.","Depends":{"R":">=
        3.0"},"Suggests":{"knitr":"*","microbenchmark":"*","pryr":"*","testthat":"*","ggplot2":"*","scales":"*"},"License":"MIT
        + file LICENSE","URL":"https://r6.r-lib.org, https://github.com/r-lib/R6/","LazyData":"true","BugReports":"https://github.com/r-lib/R6/issues","RoxygenNote":"6.1.1","NeedsCompilation":"no","Packaged":"2020-10-28
        18:30:05 UTC; winston","Author":"Winston Chang [aut, cre]","Maintainer":"Winston
        Chang <winston@stdout.org>","Repository":"CRAN","Date/Publication":"2020-10-28
        19:30:02 UTC","crandb_file_date":"2020-10-28 21:08:39","MD5sum":"463898e53d64b48716e695f20db423f4","date":"2020-10-28T18:30:02+00:00","releases":[]}'
  recorded_at: 2021-05-27 15:46:01 GMT
  recorded_with: vcr/1.0.0, webmockr/0.8.0
- request:
    method: get
    uri: http://crandb.r-pkg.org/sourcetools
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"BC3KSAS6E0XWNNGKFH7N5R2RG"'
      x-couch-request-id: e3bccf8ca3
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"sourcetools"[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/later
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"CDQWL64WINRMUPG3WWRT1SU7I"'
      x-couch-request-id: 16aaa1cdf7
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"later","Type":"Package","Title":"Utilities for Scheduling
        Functions to Execute Later with Event\u000aLoops","Version":"1.2.0","Authors@R":"c(\u000aperson(\"Winston\",
        \"Chang\", role = c(\"aut\", \"cre\"), email = \"winston@rstudio.com\"),\u000aperson(\"Joe\",
        \"Cheng\", role = c(\"aut\"), email = \"joe@rstudio.com\"),\u000aperson(family
        = \"RStudio\", role = \"cph\"),\u000aperson(\"Marcus\", \"Geelnard\", role
        = c(\"ctb\", \"cph\"), comment = \"TinyCThread library, https://tinycthread.github.io/\"),\u000aperson(\"Evan\",
        \"Nemerson\", role = c(\"ctb\", \"cph\"), comment = \"TinyCThread library,
        https://tinycthread.github.io/\")\u000a)","Description":"Executes arbitrary
        R or C functions some time after the current\u000atime, after the R execution
        stack has emptied. The functions are scheduled\u000ain an event loop.","URL":"https://github.com/r-lib/later","BugReports":"https://github.com/r-lib/later/issues","License":"MIT
        + file LICENSE","Imports":{"Rcpp":">= 0.12.9","rlang":"*"},"LinkingTo":{"Rcpp":"*"},"RoxygenNote":"7.1.1","SystemRequirements":"C++11","Suggests":{"knitr":"*","rmarkdown":"*","testthat":">=
        2.1.0"},"VignetteBuilder":"knitr","NeedsCompilation":"yes","Packaged":"2021-04-20
        19:31:00 UTC; winston","Author":"Winston Chang [aut, cre],\u000aJoe Cheng
        [aut],\u000aRStudio [cph],\u000aMarcus Geelnard [ctb, cph] (TinyCThread library,\u000ahttps://tinycthread.github.io/),\u000aEvan
        Nemerson [ctb, cph] (TinyCThread library,\u000ahttps://tinycthread.github.io/)","Maintainer":"Winston
        Chang <winston@rstudio.com>","Repository":"CRAN","Date/Publication":"2021-04-23
        15:20:02 UTC","crandb_file_date":"2021-04-23 16:56:31","MD5sum":"31808276729dc0734b4c35bdcd0c7c2b","date":"2021-04-23T14:20:02+00:00","releases":[]}'
  recorded_at: 2021-05-27 15:46:01 GMT
  recorded_with: vcr/1.0.0, webmockr/0.8.0
- request:
    method: get
    uri: http://crandb.r-pkg.org/promises
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"2Y2UV7DPTY3U6C99LKI7P6OCJ"'
      x-couch-request-id: 6b5aff5240
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"promises","Type":"Package","Title":"Abstractions for Promise-Based
        Asynchronous Programming","Version":"1.2.0.1","Authors@R":"c(\u000aperson(\"Joe\",
        \"Cheng\", email = \"joe@rstudio.com\", role = c(\"aut\", \"cre\")),\u000aperson(\"RStudio\",
        role = c(\"cph\", \"fnd\"))\u000a)","Description":"Provides fundamental abstractions
        for doing asynchronous programming\u000ain R using promises. Asynchronous
        programming is useful for allowing a single\u000aR process to orchestrate
        multiple tasks in the background while also attending\u000ato something else.
        Semantics are similar to ''JavaScript'' promises, but with a\u000asyntax that
        is idiomatic R.","License":"MIT + file LICENSE","Imports":{"R6":"*","Rcpp":"*","later":"*","rlang":"*","stats":"*","magrittr":"*"},"Suggests":{"testthat":"*","future":">=
        1.21.0","fastmap":">= 1.1.0","purrr":"*","knitr":"*","rmarkdown":"*","vembedr":"*","spelling":"*"},"LinkingTo":{"later":"*","Rcpp":"*"},"RoxygenNote":"7.1.1","Encoding":"UTF-8","LazyData":"true","VignetteBuilder":"knitr","URL":"https://rstudio.github.io/promises/,\u000ahttps://github.com/rstudio/promises","BugReports":"https://github.com/rstudio/promises/issues","Language":"en-US","NeedsCompilation":"yes","Packaged":"2021-02-11
        18:18:47 UTC; barret","Author":"Joe Cheng [aut, cre],\u000aRStudio [cph, fnd]","Maintainer":"Joe
        Cheng <joe@rstudio.com>","Repository":"CRAN","Date/Publication":"2021-02-11
        19:00:02 UTC","crandb_file_date":"2021-02-11 20:02:42","MD5sum":"adba783866d5496080f8a4e77576817b","date":"2021-02-11T18:00:02+00:00","releases":[]}'
  recorded_at: 2021-05-27 15:46:01 GMT
  recorded_with: vcr/1.0.0, webmockr/0.8.0
- request:
    method: get
    uri: http://crandb.r-pkg.org/crayon
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"9RWP4QFRAV8CXTC9K2H7SV6AA"'
      x-couch-request-id: 0a6c4edd6b
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"crayon","Title":"[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/rlang
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"1B4RUFSB6CPX0RTR6H4L09QT1"'
      x-couch-request-id: '4005709887'
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"rlang","Version":"0.4.11","Title":"Functions for Base Types
        and Core R and ''Tidyverse'' Features","Description":"A toolbox for working
        with base types, core R features\u000alike the condition system, and core
        ''Tidyverse'' features like tidy\u000aevaluation.","Authors@R":"c(\u000aperson(\"Lionel\",
        \"Henry\", ,\"lionel@rstudio.com\", c(\"aut\", \"cre\")),\u000aperson(\"Hadley\",
        \"Wickham\", ,\"hadley@rstudio.com\", \"aut\"),\u000aperson(given = \"mikefc\",\u000aemail
        = \"mikefc@coolbutuseless.com\",\u000arole = \"cph\",\u000acomment = \"Hash
        implementation based on Mike''s xxhashlite\"),\u000aperson(given = \"Yann\",\u000afamily
        = \"Collet\",\u000arole = \"cph\",\u000acomment = \"Author of the embedded
        xxHash library\"),\u000aperson(\"RStudio\", role = \"cph\")\u000a)","License":"MIT
        + file LICENSE","ByteCompile":"true","Biarch":"true","Depends":{"R":">= 3.3.0"},"Imports":{"utils":"*"},"Suggests":{"cli":"*","covr":"*","crayon":"*","glue":"*","magrittr":"*","methods":"*","pak":"*","pillar":"*","rmarkdown":"*","testthat":">=
        3.0.0","vctrs":">= 0.2.3","withr":"*"},"Enhances":{"winch":"*"},"Encoding":"UTF-8","RoxygenNote":"7.1.1","URL":"https://rlang.r-lib.org,
        https://github.com/r-lib/rlang","BugReports":"https://github.com/r-lib/rlang/issues","Config/testthat/edition":"3","NeedsCompilation":"yes","Packaged":"2021-04-29
        14:15:00 UTC; lionel","Author":"Lionel Henry [aut, cre],\u000aHadley Wickham
        [aut],\u000amikefc [cph] (Hash implementation based on Mike''s xxhashlite),\u000aYann
        Collet [cph] (Author of the embedded xxHash library),\u000aRStudio [cph]","Maintainer":"Lionel
        Henry <lionel@rstudio.com>","Repository":"CRAN","Date/Publication":"2021-04-30
        23:20:02 UTC","crandb_file_date":"2021-05-01 00:50:36","MD5sum":"61dbdb2d911537d33571ba1f7b17627f","date":"2021-04-30T22:20:02+00:00","releases":[]}'
  recorded_at: 2021-05-27 15:46:01 GMT
  recorded_with: vcr/1.0.0, webmockr/0.8.0
- request:
    method: get
    uri: http://crandb.r-pkg.org/fastmap
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"79AGJ5DC4XEY3VKFUZKOJU7BH"'
      x-couch-request-id: 21b7e7f3c5
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"fastmap","Title"[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/withr
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"6R5LWHUVZRYC2X0MKHS9VNI37"'
      x-couch-request-id: cf83755f25
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"withr","Title":"Ru[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/commonmark
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"7E46MFBNY33YD3PBYZXQ08IKZ"'
      x-couch-request-id: d13d443ea0
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"commonmark","[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/glue
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"8W80X6F7J1RN1MAAU8I1JGMRQ"'
      x-couch-request-id: dfb36df07c
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"glue","Title":"Interpreted String Literals","Version":"1.4.2","Authors@R":"person(\"Jim\",
        \"Hester\", email = \"james.f.hester@gmail.com\", role = c(\"aut\", \"cre\"))","Description":"An
        implementation of interpreted string literals, inspired by\u000aPython''s
        Literal String Interpolation <https://www.python.org/dev/peps/pep-0498/> and
        Docstrings\u000a<https://www.python.org/dev/peps/pep-0257/> and Julia''s Triple-Quoted
        String Literals\u000a<https://docs.julialang.org/en/v1.3/manual/strings/#Triple-Quoted-String-Literals-1>.","Depends":{"R":">=
        3.2"},"Imports":{"methods":"*"},"Suggests":{"testthat":"*","covr":"*","magrittr":"*","crayon":"*","knitr":"*","rmarkdown":"*","DBI":"*","RSQLite":"*","R.utils":"*","forcats":"*","microbenchmark":"*","rprintf":"*","stringr":"*","ggplot2":"*","dplyr":"*","withr":"*","vctrs":">=
        0.3.0"},"License":"MIT + file LICENSE","Encoding":"UTF-8","LazyData":"true","RoxygenNote":"7.1.1","URL":"https://github.com/tidyverse/glue,
        https://glue.tidyverse.org/","BugReports":"https://github.com/tidyverse/glue/issues","VignetteBuilder":"knitr","ByteCompile":"true","NeedsCompilation":"yes","Packaged":"2020-08-26
        17:24:06 UTC; jhester","Author":"Jim Hester [aut, cre]","Maintainer":"Jim
        Hester <james.f.hester@gmail.com>","Repository":"CRAN","Date/Publication":"2020-08-27
        13:50:06 UTC","crandb_file_date":"2020-08-27 14:56:38","MD5sum":"0193cf06363f9334b313a7e5503b27e6","date":"2020-08-27T12:50:06+00:00","releases":[]}'
  recorded_at: 2021-05-27 15:46:01 GMT
  recorded_with: vcr/1.0.0, webmockr/0.8.0
- request:
    method: get
    uri: http://crandb.r-pkg.org/bslib
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"49GORAUTEPU4DFS24J1UACJ3Q"'
      x-couch-request-id: 8eaae8b0f3
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"bslib","Title":"Cu[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/cachem
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"64N7WJFXX4D3CTI46XKP4CNNC"'
      x-couch-request-id: dd5ddb1e19
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"cachem","Version"[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/ellipsis
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"62O6G97F30NCJYHY39P4096FA"'
      x-couch-request-id: 96cb7fb095
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"ellipsis","Vers[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/lifecycle
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"CW8R6E2TOHM6RMTTLAU0GJC7K"'
      x-couch-request-id: 1f2e1ed115
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"lifecycle","Title":"Manage the Life Cycle of your Package
        Functions","Version":"1.0.0","Authors@R":"\u000ac(person(given = \"Lionel\",\u000afamily
        = \"Henry\",\u000arole = c(\"aut\", \"cre\"),\u000aemail = \"lionel@rstudio.com\"),\u000aperson(given
        = \"Hadley\",\u000afamily = \"Wickham\",\u000arole = \"aut\",\u000aemail =
        \"hadley@rstudio.com\",\u000acomment = c(ORCID = \"0000-0003-4757-117X\")),\u000aperson(given
        = \"RStudio\",\u000arole = \"cph\"))","Description":"Manage the life cycle
        of your exported functions\u000awith shared conventions, documentation badges,
        and user-friendly\u000adeprecation warnings.","License":"MIT + file LICENSE","URL":"https://lifecycle.r-lib.org/,
        https://github.com/r-lib/lifecycle","BugReports":"https://github.com/r-lib/lifecycle/issues","Depends":{"R":">=
        3.3"},"Imports":{"glue":"*","rlang":">= 0.4.10"},"Suggests":{"covr":"*","crayon":"*","knitr":"*","rmarkdown":"*","testthat":">=
        3.0.1","tibble":"*"},"VignetteBuilder":"knitr","Config/testthat/edition":"3","Encoding":"UTF-8","LazyData":"true","RoxygenNote":"7.1.1","NeedsCompilation":"no","Packaged":"2021-02-15
        13:48:33 UTC; hadley","Author":"Lionel Henry [aut, cre],\u000aHadley Wickham
        [aut] (<https://orcid.org/0000-0003-4757-117X>),\u000aRStudio [cph]","Maintainer":"Lionel
        Henry <lionel@rstudio.com>","Repository":"CRAN","Date/Publication":"2021-02-15
[...]
