http_interactions:
- request:
    method: get
    uri: http://crandb.r-pkg.org/rlang
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"41SAAZE9GL5PH2PZK3CO8R69Y"'
      x-couch-request-id: e723c51b80
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"rlang","Version":"0.4.12","Title":"Functions for Base Types
        and Core R and ''Tidyverse'' Features","Description":"A toolbox for working
        with base types, core R features\u000alike the condition system, and core
        ''Tidyverse'' features like tidy\u000aevaluation.","Authors@R":"c(\u000aperson(\"Lionel\",
        \"Henry\", ,\"lionel@rstudio.com\", c(\"aut\", \"cre\")),\u000aperson(\"Hadley\",
        \"Wickham\", ,\"hadley@rstudio.com\", \"aut\"),\u000aperson(given = \"mikefc\",\u000aemail
        = \"mikefc@coolbutuseless.com\",\u000arole = \"cph\",\u000acomment = \"Hash
        implementation based on Mike''s xxhashlite\"),\u000aperson(given = \"Yann\",\u000afamily
        = \"Collet\",\u000arole = \"cph\",\u000acomment = \"Author of the embedded
        xxHash library\"),\u000aperson(\"RStudio\", role = \"cph\")\u000a)","License":"MIT
        + file LICENSE","ByteCompile":"true","Biarch":"true","Depends":{"R":">= 3.3.0"},"Imports":{"utils":"*"},"Suggests":{"cli":"*","covr":"*","crayon":"*","glue":"*","magrittr":"*","methods":"*","pak":"*","pillar":"*","rmarkdown":"*","testthat":">=
        3.0.0","vctrs":">= 0.2.3","withr":"*"},"Enhances":{"winch":"*"},"Encoding":"UTF-8","RoxygenNote":"7.1.1","URL":"https://rlang.r-lib.org,
        https://github.com/r-lib/rlang","BugReports":"https://github.com/r-lib/rlang/issues","Config/testthat/edition":"3","NeedsCompilation":"yes","Packaged":"2021-10-18
        07:25:49 UTC; lionel","Author":"Lionel Henry [aut, cre],\u000aHadley Wickham
        [aut],\u000amikefc [cph] (Hash implementation based on Mike''s xxhashlite),\u000aYann
        Collet [cph] (Author of the embedded xxHash library),\u000aRStudio [cph]","Maintainer":"Lionel
        Henry <lionel@rstudio.com>","Repository":"CRAN","Date/Publication":"2021-10-18
        23:00:02 UTC","crandb_file_date":"2021-10-19 00:14:38","MD5sum":"08b32904d41f5fcb5d33188f0004f91b","date":"2021-10-18T22:00:02+00:00","releases":[]}'
  recorded_at: 2021-12-09 17:48:14 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
