http_interactions:
- request:
    method: get
    uri: http://crandb.r-pkg.org/data.table
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"5HU794Z3XF9NM3ZYOUL3PJ8EB"
      x-couch-request-id: 291fc2bb46
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"data.table","Version":"1.14.8","Title":"Extension of `data.frame`","Authors@R":"c(\u000aperson(\"Matt\",\"Dowle\",           role=c(\"aut\",\"cre\"),
        email=\"mattjdowle@gmail.com\"),\u000aperson(\"Arun\",\"Srinivasan\",      role=\"aut\",          email=\"asrini@pm.me\"),\u000aperson(\"Jan\",\"Gorecki\",          role=\"ctb\"),\u000aperson(\"Michael\",\"Chirico\",      role=\"ctb\"),\u000aperson(\"Pasha\",\"Stetsenko\",      role=\"ctb\"),\u000aperson(\"Tom\",\"Short\",            role=\"ctb\"),\u000aperson(\"Steve\",\"Lianoglou\",      role=\"ctb\"),\u000aperson(\[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/bit64
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"4ID04HOZTR3199MMZ9EQH9GGF"
      x-couch-request-id: 3bcfa597ed
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"bit64","Type":"Package","Title":"A S3 Class for Vectors
        of 64bit Integers","Version":"4.0.5","Date":"2020-08-29","Author":"Jens Oehlschlägel
        [aut, cre], Leonardo Silvestri [ctb]","Maintainer":"Jens Oehlschlägel <Jens.Oehlschlaegel@truecluster.com>","Depends":{"R":">=
        3.0.1","bit":">= 4.0.0","utils":"*","methods":"*","stats":"*"},"Description":"\u000aPackage
        ''bit64'' provides serializable S3 atomic 64bit (signed) integers.\u000aThese
        are useful for handling database keys and exact counting in +-2^63.\u000aWARNING:
        do not use them as replacement for 32bit integers, integer64 are not\u000asupported
        for subscripting by R-core and they have different semantics when\u000acombined
        with double, e.g. integer64 + double => integer64.\u000aClass integer64 can
        be used in vectors, matrices, arrays and data.frames.\u000aMethods are available
        for coercion from and to logicals, integers, doubles,\u000acharacters and
        factors as well as many elementwise and summary functions.\u000aMany fast
        algorithmic operations such as ''match'' and ''order'' support inter-\u000aactive
        data exploration and manipulation and optionally leverage caching.","License":"GPL-2
        | GPL-3","LazyLoad":"yes","ByteCompile":"yes","URL":"https://github.com/truecluster/bit64","Encoding":"UTF-8","Repository":"CRAN","Repository/R-Forge/Project":"ff","Repository/R-Forge/Revision":"177","Repository/R-Forge/DateTimeStamp":"2018-08-17
        17:45:18","Date/Publication":"2020-08-30 07:20:02 UTC","NeedsCompilation":"yes","Packaged":"2020-08-29
        10:56:45 UTC; jo","crandb_file_date":"2020-08-30 08:02:34","MD5sum":"bdccc76b8505827a6f295181de2b308a","date":"2020-08-30T06:20:02+00:00","releases":[]}'
  recorded_at: 2023-02-20 09:44:30 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: http://crandb.r-pkg.org/bit
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"COG1JHNKO9THG0C0C5ZWAN5VM"
      x-couch-request-id: d9f44d2db2
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"bit","Type":"Package","Title":"Classes and Methods for
        Fast Memory-Efficient Boolean Selections","Version":"4.0.5","Date":"2022-11-13","Author":"Jens
        Oehlschlägel [aut, cre], Brian Ripley [ctb]","Maintainer":"Jens Oehlschlägel
        <Jens.Oehlschlaegel@truecluster.com>","Depends":{"R":">= 2.9.2"},"Suggests":{"testthat":">=
        0.11.0","roxygen2":"*","knitr":"*","rmarkdown":"*","microbenchmark":"*","bit64":">=
        4.0.0","ff":">= 4.0.0"},"Description":"Provided are classes for boolean and
        skewed boolean vectors,\u000afast boolean methods, fast unique and non-unique
        integer sorting,\u000afast set operations on sorted and unsorted sets of integers,
        and\u000afoundations for ff (range index, compression, chunked processing).","License":"GPL-2
        | GPL-3","LazyLoad":"yes","ByteCompile":"yes","Encoding":"UTF-8","URL":"https://github.com/truecluster/bit","VignetteBuilder":"knitr,
        rmarkdown","RoxygenNote":"7.2.0","NeedsCompilation":"yes","Packaged":"2022-11-13
        21:22:09 UTC; jo","Repository":"CRAN","Date/Publication":"2022-11-15 21:20:16
        UTC","crandb_file_date":"2022-11-15 22:44:36","MD5sum":"df4e6215d31058ea2860fadc7a7c80f4","date":"2022-11-15T20:20:16+00:00","releases":[]}'
  recorded_at: 2023-02-20 09:44:30 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: http://crandb.r-pkg.org/curl
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"9B1WLBY0YYYJ5BQC1V3FL8DBI"
      x-couch-request-id: 2c6e71e00b
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"curl","Type":"Package"[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/R.utils
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"4KVTQ6NJFPEN9G5FFBD6N1NRD"
      x-couch-request-id: 75c1e9ea33
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"R.utils","Version":"2.12.2","Depends":{"R":">= 2.14.0","R.oo":"*"},"Imports":{"methods":"*","utils":"*","tools":"*","R.methodsS3":"*"},"Suggests":{"datasets":"*","digest":">=
        0.6.10"},"Title":"Various Programming Utilities","Authors@R":"c(person(\"Henrik\",
        \"Bengtsson\", role=c(\"aut\", \"cre\", \"cph\"),\u000aemail = \"henrikb@braju.com\"))","Author":"Henrik
        Bengtsson [aut, cre, cph]","Maintainer":"Henrik Bengtsson <henrikb@braju.com>","Description":"Utility
        functions useful when programming and developing R packages.","License":"LGPL
        (>= 2.1)","LazyLoad":"TRUE","URL":"https://henrikbengtsson.github.io/R.utils/,\u000ahttps://github.com/HenrikBengtsson/R.utils","BugReports":"https://github.com/HenrikBengtsson/R.utils/issues","NeedsCompilation":"no","Packaged":"2022-11-11
        18:51:45 UTC; hb","Repository":"CRAN","Date/Publication":"2022-11-11 22:00:03
        UTC","crandb_file_date":"2022-11-11 23:14:43","MD5sum":"05d7545f7cde9ea581f6d60da4339a6a","date":"2022-11-11T21:00:03+00:00","releases":[]}'
  recorded_at: 2023-02-20 09:44:30 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: http://crandb.r-pkg.org/xts
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"9TJARNOVV9SYQWUQ2KW3NMKF"
      x-couch-request-id: 024b089945
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"xts","Type":"Package","Title":"eXtensible Time Series","Version":"0.12.2","Authors@R":"c(\u000aperson(given=c(\"Jeffrey\",\"A.\"),
        family=\"Ryan\", role=c(\"aut\",\"cph\")),\u000aperson(given=c(\"Joshua\",\"M.\"),
        family=\"Ulrich\", role=c(\"cre\",\"aut\"), email=\"josh.m.ulrich@gmail.com\"),\u000aperson(given=\"Ross\",
        family=\"Bennett\", role=\"ctb\"),\u000aperson(given=\"Corwin\", family=\"Joy\",
        role=\"ctb\")\u000a)","Depends":{"zoo":">= 1.7-12"},"Imports":{"methods":"*"},"LinkingTo":{"zoo":"*"},"Suggests":{"timeSeries":"*","timeDate":"*","tseries":"*","chron":"*","tis":"*","RUnit":"*"},"LazyLoad":"yes","Description":"Provide
        for uniform handling of R''s different time-based data classes by extending
        zoo, maximizing native format information preservation and allowing for user
        level customization and extension, while simplifying cross-class interoperability.","License":"GPL
        (>= 2)","URL":"https://github.com/joshuaulrich/xts","BugReports":"https://github.com/joshuaulrich/xts/issues","NeedsCompilation":"yes","Packaged":"2022-10-12
        16:08:19 UTC; josh","Author":"Jeffrey A. Ryan [aut, cph],\u000aJoshua M. Ulrich
        [cre, aut],\u000aRoss Bennett [ctb],\u000aCorwin Joy [ctb]","Maintainer":"Joshua
        M. Ulrich <josh.m.ulrich@gmail.com>","Repository":"CRAN","Date/Publication":"2022-10-16
        00:20:02 UTC","crandb_file_date":"2022-10-16 01:38:42","MD5sum":"df6931a91fa69c9eb9ec5c511a459dd2","date":"2022-10-15T23:20:02+00:00","releases":[]}'
  recorded_at: 2023-02-20 09:44:30 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: http://crandb.r-pkg.org/nanotime
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"ANA855I00E9HKRGTNBSHZ6A1K"
      x-couch-request-id: 329f76ad0e
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"nanotime","Type":"Package","Title":"Nanosecond-Resolution
        Time Support for R","Version":"0.3.7","Date":"2022-10-23","Author":"Dirk Eddelbuettel
        and Leonardo Silvestri","Maintainer":"Dirk Eddelbuettel <edd@debian.org>","Description":"Full
        64-bit resolution date and time functionality with\u000ananosecond granularity
        is provided, with easy transition to and from\u000athe standard ''POSIXct''
        type. Three additional classes offer interval,\u000aperiod and duration functionality
        for nanosecond-resolution timestamps.","Imports":{"methods":"*","bit64":"*","RcppCCTZ":">=
        0.2.9","zoo":"*"},"Suggests":{"tinytest":"*","data.table":"*","xts":"*"},"LinkingTo":{"Rcpp":"*","RcppCCTZ":"*","RcppDate":"*"},"License":"GPL
        (>= 2)","URL":"https://github.com/eddelbuettel/nanotime,\u000ahttps://eddelbuettel.github.io/nanotime/,\u000ahttps://dirk.eddelbuettel.com/code/nanotime.html","BugReports":"https://github.com/eddelbuettel/nanotime/issues","RoxygenNote":"7.1.2","Collate":"''nanotime.R''
        ''nanoival.R'' ''nanoduration.R'' ''nanoperiod.R''\u000a''RcppExports.R''","Encoding":"UTF-8","NeedsCompilation":"yes","Packaged":"2022-10-24
        00:26:28 UTC; edd","Repository":"CRAN","Date/Publication":"2022-10-24 07:02:51
        UTC","crandb_file_date":"2022-10-24 08:44:41","MD5sum":"8bbffb130d7c9a2835e9f2e57517b6ca","date":"2022-10-24T06:02:51+00:00","releases":[]}'
  recorded_at: 2023-02-20 09:44:30 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: http://crandb.r-pkg.org/zoo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"25K3GCRHDGEWP8B195D6Q1H7I"
      x-couch-request-id: 609091dfd2
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"zoo","Version":"1.8-11"[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/yaml
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"1DVM3S7X59KFNX81J319JMAOS"
      x-couch-request-id: 67fa157e63
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"yaml","Type":"Package"[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/knitr
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"BWR5S8XVFURNML8JWPUXRXTPT"
      x-couch-request-id: 772b3c4a78
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"knitr","Type":"Packag[...]
- request:
    method: get
    uri: http://crandb.r-pkg.org/rmarkdown
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"AY4LPYUUNDSZGBQCM72JAKZKE"
      x-couch-request-id: 36e4e81b6f
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Type":"Package","Package":"[...]
