http_interactions:
- request:
    method: get
    uri: http://crandb.r-pkg.org/xgboost
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"6B5S0RCM1BOCTH4PC7QIGWMNA"
      x-couch-request-id: 687eb25b59
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"xgboost","Type":"Package","Title":"Extreme Gradient Boosting","Version":"1.7.3.1","Date":"2023-01-06","Authors@R":"c(\u000aperson(\"Tianqi\",
        \"Chen\", role = c(\"aut\"),\u000aemail = \"tianqi.tchen@gmail.com\"),\u000aperson(\"Tong\",
        \"He\", role = c(\"aut\"),\u000aemail = \"hetong007@gmail.com\"),\u000aperson(\"Michael\",
        \"Benesty\", role = c(\"aut\"),\u000aemail = \"michael@benesty.fr\"),\u000aperson(\"Vadim\",
        \"Khotilovich\", role = c(\"aut\"),\u000aemail = \"khotilovich@gmail.com\"),\u000aperson(\"Yuan\",
        \"Tang\", role = c(\"aut\"),\u000aemail = \"terrytangyuan@gmail.com\",\u000acomment
        = c(ORCID = \"0000-0001-5243-233X\")),\u000aperson(\"Hyunsu\", \"Cho\", role
        = c(\"aut\"),\u000aemail = \"chohyu01@cs.washington.edu\"),\u000aperson(\"Kailong\",
        \"Chen\", role = c(\"aut\")),\u000aperson(\"Rory\", \"Mitchell\", role = c(\"aut\")),\u000aperson(\"Ignacio\",
        \"Cano\", role = c(\"aut\")),\u000aperson(\"Tianyi\", \"Zhou\", role = c(\"aut\")),\u000aperson(\"Mu\",
        \"Li\", role = c(\"aut\")),\u000aperson(\"Junyuan\", \"Xie\", role = c(\"aut\")),\u000aperson(\"Min\",
        \"Lin\", role = c(\"aut\")),\u000aperson(\"Yifeng\", \"Geng\", role = c(\"aut\")),\u000aperson(\"Yutian\",
        \"Li\", role = c(\"aut\")),\u000aperson(\"Jiaming\", \"Yuan\", role = c(\"aut\",
        \"cre\"),\u000aemail = \"jm.yuan@outlook.com\"),\u000aperson(\"XGBoost contributors\",
        role = c(\"cph\"),\u000acomment = \"base XGBoost implementation\")\u000a)","Maintainer":"Jiaming
        Yuan <jm.yuan@outlook.com>","Description":"Extreme Gradient Boosting, which
        is an efficient implementation\u000aof the gradient boosting framework from
        Chen & Guestrin (2016) <doi:10.1145/2939672.2939785>.\u000aThis package is
        its R interface. The package includes efficient linear\u000amodel solver and
        tree learning algorithms. The package can automatically\u000ado parallel computation
        on a single machine which could be more than 10\u000atimes faster than existing
        gradient boosting packages. It supports\u000avarious objective functions,
        including regression, classification and ranking.\u000aThe package is made
        to be extensible, so that users are also allowed to define\u000atheir own
        objectives easily.","License":"Apache License (== 2.0) | file LICENSE","URL":"https://github.com/dmlc/xgboost","BugReports":"https://github.com/dmlc/xgboost/issues","NeedsCompilation":"yes","VignetteBuilder":"knitr","Suggests":{"knitr":"*","rmarkdown":"*","ggplot2":">=
        1.0.1","DiagrammeR":">= 0.9.0","Ckmeans.1d.dp":">= 3.3.1","vcd":">= 1.3","testthat":"*","lintr":"*","igraph":">=
        1.0.1","float":"*","crayon":"*","titanic":"*"},"Depends":{"R":">= 3.3.0"},"Imports":{"Matrix":">=
        1.1-0","methods":"*","data.table":">= 1.9.6","jsonlite":">= 1.0"},"RoxygenNote":"7.2.2","SystemRequirements":"GNU
        make, C++14","Packaged":"2023-01-14 20:07:58 UTC; jiamingy","Author":"Tianqi
        Chen [aut],\u000aTong He [aut],\u000aMichael Benesty [aut],\u000aVadim Khotilovich
        [aut],\u000aYuan Tang [aut] (<https://orcid.org/0000-0001-5243-233X>),\u000aHyunsu
        Cho [aut],\u000aKailong Chen [aut],\u000aRory Mitchell [aut],\u000aIgnacio
        Cano [aut],\u000aTianyi Zhou [aut],\u000aMu Li [aut],\u000aJunyuan Xie [aut],\u000aMin
        Lin [aut],\u000aYifeng Geng [aut],\u000aYutian Li [aut],\u000aJiaming Yuan
        [aut, cre],\u000aXGBoost contributors [cph] (base XGBoost implementation)","Repository":"CRAN","Date/Publication":"2023-01-14
        21:20:02 UTC","crandb_file_date":"2023-01-14 23:56:43","MD5sum":"b190aba420ee804cc81de029b0f90fd3","date":"2023-01-14T20:20:02+00:00","releases":[]}'
  recorded_at: 2023-02-20 09:45:33 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
