http_interactions:
- request:
    method: get
    uri: http://crandb.r-pkg.org/rlang
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: W/"8M5BHOYFM4TSUL788BQRWYN0S"
      x-couch-request-id: 70162060c4
      x-couchdb-body-time: '0'
    body:
      encoding: ''
      file: no
      string: '{"Package":"rlang","Version":"1.0.6","Title":"Functions for Base Types
        and Core R and ''Tidyverse'' Features","Description":"A toolbox for working
        with base types, core R features\u000alike the condition system, and core
        ''Tidyverse'' features like tidy\u000aevaluation.","Authors@R":"c(\u000aperson(\"Lionel\",
        \"Henry\", ,\"lionel@rstudio.com\", c(\"aut\", \"cre\")),\u000aperson(\"Hadley\",
        \"Wickham\", ,\"hadley@rstudio.com\", \"aut\"),\u000aperson(given = \"mikefc\",\u000aemail
        = \"mikefc@coolbutuseless.com\",\u000arole = \"cph\",\u000acomment = \"Hash
        implementation based on Mike''s xxhashlite\"),\u000aperson(given = \"Yann\",\u000afamily
        = \"Collet\",\u000arole = \"cph\",\u000acomment = \"Author of the embedded
        xxHash library\"),\u000aperson(given = \"RStudio\", role = c(\"cph\", \"fnd\"))\u000a)","License":"MIT
        + file LICENSE","ByteCompile":"true","Biarch":"true","Depends":{"R":">= 3.4.0"},"Imports":{"utils":"*"},"Suggests":{"cli":">=
        3.1.0","covr":"*","crayon":"*","fs":"*","glue":"*","knitr":"*","magrittr":"*","methods":"*","pillar":"*","rmarkdown":"*","stats":"*","testthat":">=
        3.0.0","tibble":"*","usethis":"*","vctrs":">= 0.2.3","withr":"*"},"Enhances":{"winch":"*"},"SystemRequirements":"C++11","Encoding":"UTF-8","RoxygenNote":"7.2.1.9000","URL":"https://rlang.r-lib.org,
        https://github.com/r-lib/rlang","BugReports":"https://github.com/r-lib/rlang/issues","Config/testthat/edition":"3","Config/Needs/website":"dplyr,
        tidyverse/tidytemplate","NeedsCompilation":"yes","Packaged":"2022-09-23 16:12:48
        UTC; lionel","Author":"Lionel Henry [aut, cre],\u000aHadley Wickham [aut],\u000amikefc
        [cph] (Hash implementation based on Mike''s xxhashlite),\u000aYann Collet
        [cph] (Author of the embedded xxHash library),\u000aRStudio [cph, fnd]","Maintainer":"Lionel
        Henry <lionel@rstudio.com>","Repository":"CRAN","Date/Publication":"2022-09-24
        05:40:02 UTC","crandb_file_date":"2022-09-24 06:56:45","MD5sum":"907bc04039194b0c7edc19e9084b14fc","date":"2022-09-24T04:40:02+00:00","releases":[]}'
  recorded_at: 2023-02-20 09:44:25 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
