http_interactions:
- request:
    method: get
    uri: http://crandb.r-pkg.org/shiny
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"4Y20K96SKFCZU2MZUGFVKGNPS"'
      x-couch-request-id: 23b1857155
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"shiny","Type":"Package","Title":"Web Application Framework
        for R","Version":"1.7.1","Authors@R":"c(\u000aperson(\"Winston\", \"Chang\",
        role = c(\"aut\", \"cre\"), email = \"winston@rstudio.com\", comment = c(ORCID
        = \"0000-0002-1576-2126\")),\u000aperson(\"Joe\", \"Cheng\", role = \"aut\",
        email = \"joe@rstudio.com\"),\u000aperson(\"JJ\", \"Allaire\", role = \"aut\",
        email = \"jj@rstudio.com\"),\u000aperson(\"Carson\", \"Sievert\", role = \"aut\",
        email = \"carson@rstudio.com\", comment = c(ORCID = \"0000-0002-4958-2844\")),\u000aperson(\"Barret\",
[...]
- request:
    method: get
    uri: https://cranlogs.r-pkg.org/downloads/daily/2012-10-01:2021-12-18/httpuv
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"vJ4QMKHf/QbBkQaXM4XixA=="
    body:
      encoding: UTF-8
      file: no
      string: '[{"downloads":[{"day":"2013-03-12","downloads":6},{"day":"2013-03-13","downloads":11},{"day":"2013-03-14","downloads":5},{"day":"2013-03-15","downloads":12},{"day":"2013-03-16","downloads":6},{"day":"2013-03-17","downloads":8},{"day":"2013-03-18","downloads":7},{"day":"2013-03-19","downloads":6},{"day":"2013-03-20","downloads":6},{"day":"2013-03-21","downloads":6},{"day":"2013-03-22","downloads":12},{"day":"2013-03-23","downloads":5},{"day":"2013-03-24","downloads":6},{"day":"2013-03-25","downloads":2},{"day":"2013-0[...]
- request:
    method: get
    uri: https://cranlogs.r-pkg.org/downloads/daily/2012-10-01:2021-12-18/mime
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"pxZqrEq/jE8qjxWOkEvi2A=="
    body:
      encoding: UTF-8
      file: no
      string: '[{"downloads":[{"day":"2014-05-01","download[...]
- request:
    method: get
    uri: https://cranlogs.r-pkg.org/downloads/daily/2012-10-01:2021-12-18/jsonlite
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"k7TGmfJGq5lbdshL51PIfA=="
    body:
      encoding: UTF-8
      file: no
      string: '[{"downloads":[{"day":"2013-12-04","down[...]
- request:
    method: get
    uri: https://cranlogs.r-pkg.org/downloads/daily/2012-10-01:2021-12-18/xtable
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"AOHalUwhQgu7TRDUXcM6Zw=="
    body:
      encoding: UTF-8
      file: no
      string: '[{"downloads":[{"day":"2012-10-02","downlo[...]
- request:
    method: get
    uri: https://cranlogs.r-pkg.org/downloads/daily/2012-10-01:2021-12-18/fontawesome
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"NEjP/yByGtH3Dxrziigk0w=="
    body:
      encoding: UTF-8
      file: no
      string: '[{"downloads":[{"day":"2021-02-22","d[...]
- request:
    method: get
    uri: https://cranlogs.r-pkg.org/downloads/daily/2012-10-01:2021-12-18/htmltools
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"jIUSEP+5Z7UNRr2YPJLkNg=="
    body:
      encoding: UTF-8
      file: no
      string: '[{"downloads":[{"day":"2014-05-28","dow[...]
- request:
    method: get
    uri: https://cranlogs.r-pkg.org/downloads/daily/2012-10-01:2021-12-18/R6
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"Sv2b81vZiw1wD0QFumOz0A=="
    body:
      encoding: UTF-8
      file: no
      string: '[{"downloads":[{"day":"2014-07-17","downloads"[...]
- request:
    method: get
    uri: https://cranlogs.r-pkg.org/downloads/daily/2012-10-01:2021-12-18/sourcetools
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"MPQWHk/8jaIvylKI7ZMskA=="
    body:
      encoding: UTF-8
      file: no
      string: '[{"downloads":[{"day":"2016-03-03","d[...]
- request:
    method: get
    uri: https://cranlogs.r-pkg.org/downloads/daily/2012-10-01:2021-12-18/later
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"xpOf+jiSUsSU1Wfbs0nFIA=="
    body:
      encoding: UTF-8
      file: no
      string: '[{"downloads":[{"day":"2017-06-25","downloa[...]
- request:
    method: get
    uri: https://cranlogs.r-pkg.org/downloads/daily/2012-10-01:2021-12-18/promises
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"wGO4ohZQj5HSeZINP1Rz/g=="
    body:
      encoding: UTF-8
      file: no
      string: '[{"downloads":[{"day":"2018-04-13","down[...]
- request:
    method: get
    uri: https://cranlogs.r-pkg.org/downloads/daily/2012-10-01:2021-12-18/crayon
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"gZrFa6+4Ki7+cAwfX+0AwQ=="
    body:
      encoding: UTF-8
      file: no
      string: '[{"downloads":[{"day":"2014-09-24","downlo[...]
